{% extends "common/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}サブスクプラン| アニマルマニア{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/plan_list.css' %}">
{% endblock %}

{% block content %}


<div id="plan_list_large_box">
    
    <h1 id="plan_list_lang">{{ animal.name }}{% if animal.sex == "M" %}くん{% elif animal.sex == "F" %}ちゃん{% else %}さん{% endif %}の
        <br>サブスクプラン</h1>
    <h2>{{ animal.name }}{% if animal.sex == "M" %}くん{% elif animal.sex == "F" %}ちゃん{% else %}さん{% endif %}
        を推して{{ animal.name }}{% if animal.sex == "M" %}くん{% elif animal.sex == "F" %}ちゃん{% else %}さん{% endif %}を応援しよう！！！</h5>

    <div id="plan_list_small_box">
        
        <div id="plan_list_small_box_border">

            <div id="plan_list_small_box_lang">






                <ul>
                  {% for plan in plans %}
                    <li id="plan_list_box">
                      <!-- <div id="plan_list_box"> -->
                          <div id="plan_list_course">月{{ plan.amount }}円コース</div>
                          <p id="plan_list_stapo">月<span id="plan_list_stapo_num">{{ plan.st_point }}</span>スタポ付与</p>
                          <a id="plan_list_join_btn" href="{% url 'subscription:confirm_plan' plan.id animal.animal_id %}">加入する</a>
                      <!-- </div> -->
                    </li>
                  {% endfor %}
                </ul>






            </div>

        </div>

    </div>

    <a id="plan_list_animalpage_link" href="{% url 'animals:animal_detail' animal.animal_id %}">▶{{ animal.name }}{% if animal.sex == "M" %}くん{% elif animal.sex == "F" %}ちゃん{% else %}さん{% endif %}のページへもどる</a>
    <br><br>

    <a id="plan_list_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>




{% endblock %}
