{% extends "common/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}サブスクプラン| アニマルマニア{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/plan_list.css' %}">
{% endblock %}

{% block content %}

<div id="plan_list_large_box" class="zoo-{{ animal.zoo_id }}">

    <h1 id="plan_list_lang">{{ animal.name }}{% if animal.sex == "M" %}くん{% elif animal.sex == "F" %}ちゃん{% else %}さん{% endif %}の
        <br>サブスクプラン</h1>
    
    <div id="plan_list_aminal_img_box" class="zoo-{{ animal.zoo_id }}">
        <img id="plan_list_aminal_img" src="{{ animal.pic1.url }}" alt="{{ animal.japanese }}">
    </div>

    <p id="plan_list_lang_02">{{ animal.name }}{% if animal.sex == "M" %}くん{% elif animal.sex == "F" %}ちゃん{% else %}さん{% endif %}を応援しよう！！！</p>

    <div id="plan_list_small_box">
        
        <div id="plan_list_small_box_border">

            <div id="plan_list_small_box_lang">

                {% for plan in plans %}
                <div id="plan_list_box">

                    <div id="plan_list_box_01">
                        <div id="plan_list_course" class="zoo-{{ animal.zoo_id }}">
                            <span id="plan_list_course_num">{{ plan.amount }} </span>円/月コース
                        </div>
                    </div>

                    <div id="plan_list_box_02">
                        <div id="plan_list_stapo">{{ plan.st_point }}スタポ<span id="plan_list_stapo_month">/月</span> 付与</div>
                    </div>

                    <div id="plan_list_box_03">
                        <div id="plan_list_join_btn_box_03">
                            <a id="plan_list_join_btn" class="zoo-{{ animal.zoo_id }}" href="{% url 'subscription:confirm_plan' plan.id animal.animal_id %}">加入する</a>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>

        </div>

    </div>

    <a id="plan_list_animalpage_link" href="{% url 'animals:animal_detail' animal.animal_id %}">▶{{ animal.name }}{% if animal.sex == "M" %}くん{% elif animal.sex == "F" %}ちゃん{% else %}さん{% endif %}のページへもどる</a>
    <br><br>

    <a id="plan_list_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>

{% endblock %}
