# 開発用（SQLite）（本番はPostgreSQLに書き換え）
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=

# Django秘密鍵（各自で設定）
SECRET_KEY=your-secret-key-here

# デバッグモード（本番では False にする）
DEBUG=True