{% extends "common/base.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/charge.css' %}">
{% endblock %}

{% block title %}アニマルマニア｜チアコイン購入{% endblock %}

{% block content %}

<div id="charge_large_box">

    <h1 id="charge_lang">チアコインを買う</h1>
    <img id="charge_title_img_01" src="{% static 'img/charge_title_flamingo.png' %}" alt="フラミンゴタイトル画像">

    <br>

    <div id="charge_small_box">

        <div id="charge_small_box_lang">

            {% if user.is_authenticated %}
              <p id="charge_accountname">あなたの保有チアコ数</p>
              <p id="charge_account_chiaco">{{ wallet.cheer_coin_balance|intcomma }}<span id="charge_account_chiaco_unit"> チアコ</span></p>
            {% endif %}

            <table id="charge_table">
                <tr>
                  <th class="charge_table_text">チアコイン</th>
                  <th class="charge_table_text">価格</th>
                  <th class="charge_table_text">購入</th>
                </tr>
                
                {% for plan in plans %}
                <tr>
                    <td class="charge_table_num">{{ plan.coins|intcomma }}<span class="charge_buy_chiaco_unit"> チアコ</span></td>
                    <td class="charge_table_num">{{ plan.price|intcomma }}<span class="charge_buy_chiaco_unit"> 円</span></td>
                    <td class="charge_table_num">
                        <button
                          id="charge_button"
                          data-url="{% url 'money:buy' plan.coins %}"
                          data-coins="{{ plan.coins }}"
                          data-price="{{ plan.price }}">
                          購入する
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>

            <p id="chage_demo_message">
              ※ カード決済処理はデモ挙動です。
            </p>

            <form id="hiddenBuyForm" method="post" style="display:none;">
              {% csrf_token %}
            </form>

            {% include "money/modals.html" %}

            <script>
              window.IS_AUTH = {{ user.is_authenticated|yesno:"true,false" }};
            </script>


            {% comment %} 決済 {% endcomment %}
            <script src="https://js.pay.jp/v2/pay.js"></script>
            <script>
              const PAYJP_PUBLIC_KEY = "{{ PAYJP_PUBLIC_KEY }}";
            </script>
            <script src="{% static 'js/money.js' %}" ></script>




        </div>


    </div>

    <a id="charge_mypage_link" href="{% url 'money:purchase_history' %}">▶ チアコインの購入履歴をみる</a>

    <br><br>

    <a id="charge_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>

{% endblock %}

