{% load static %}
<link rel="stylesheet" href="{% static 'css/modals.css' %}">


<!-- 購入確認モーダル -->
<div id="confirmModal">

  <div id="modals_conf_box">

    <h3 id="modals_conf_title">購入確認</h3>

    <p id="modals_conf_text">
      <span id="confirmCoinsText">—</span>
      <span class="modals_unit"> チアコイン</span>
      を
      <span id="confirmPriceText">—</span>
      <span class="modals_unit"> 円</span>
      で購入しますか？
    </p>

    <div id="modals_conf_button_box">
      <button id="cancelConfirmBtn">キャンセル</button>
      <button id="okConfirmBtn">OK</button>
    </div>

  </div>

</div>


<!-- Pay.jp 決済モーダル -->
<div id="payModal">

  <div id="modals_pay_box">

    <h3 id="modals_pay_title">カード情報を入力してください</h3>

    <form id="payForm" method="post" action="{% url 'money:pay_execute' %}">
      {% csrf_token %}
      <input type="hidden" name="coins" id="payCoins">
      <input type="hidden" name="payjp-token" id="payjpToken">

      <!-- 👇 Pay.jp がここにカードUIを自動生成する -->
      <label id="modals_pay_cardnum_title">カード番号</label>
      <div id="card-number"></div>

      <br>

        <!-- 👈 追加：戻る -->
      <div id="modals_pay_button_box">
        <button type="button" id="payBackBtn">戻る</button>
        <button type="button" id="paySubmitBtn">支払う</button>
      </div>

    </form>

  </div>

</div>


<!-- 完了モーダル -->
<div id="doneModal">
  <div id="modals_done_box">
    <h3 id="modals_done_title">購入完了</h3>

    <p id="modals_done_text">
      <span id="doneCoinsText">—</span>
      <span class="modals_unit"> チアコイン</span>
      <span id="modals_done_02">
        （<span id="donePriceText">—</span>円）
      </span>
      の購入が完了しました。
    </p>

    <img id="modals_done_thanks_img" src="{% static 'img/done_thankyou.png' %}" alt="アシカありがとう画像">
    
    <div id="modals_done_button_box">
      <button id="doneOkBtn" type="button">OK</button>
    </div>

  </div>
</div>


<!-- 認証誘導モーダル -->
<div id="authModal" style="display:none; position:fixed; inset:0; background:rgba(0,0,0,.35);">
  <div id="modals_auth_box">
    <p id="modals_auth_text">チアコインを購入するには<br> ログインまたは新規会員登録が必要です。</p>

    <img id="modals_auth_img" src="{% static 'img/auth_img.png' %}" alt="カメ画像">

    <div id="modals_auth_button_box">
      <button id="authCancelBtn" type="button">キャンセル</button>
      <a id="modals_auth_new_button" href="{% url 'accounts:signup' %}?next={% url 'money:charge' %}">新規会員登録</a>
      <a id="modals_auth_login_button" href="{% url 'accounts:login' %}?next={% url 'money:charge' %}">ログイン</a>
    </div>
    
  </div>
</div>



