{% extends "common/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/purchase_history.css' %}">
{% endblock %}

{% block title %}アニマルマニア｜チアコ購入履歴{% endblock %}


{% block content %}

<div id="purchase_history_large_box">

    <h1 id="purchase_history_lang">チアコイン購入履歴</h1>

    <br>

    <div id="purchase_history_small_box">

        <div id="purchase_history_small_box_lang">

            {% if cheer_purchases %}

            <table id="purchase_history_table">

                <tr>
                  <th class="purchase_history_table_text">購入単位</th>
                  <th class="purchase_history_table_text">購入金額</th>
                  <th class="purchase_history_table_text">購入日時</th>
                </tr>

                {% for p in cheer_purchases %}
                <tr>
                  <td class="purchase_history_table_num">{{ p.coins }} <span class="purchase_history_table_unit">チアコ</span></td>
                  <td class="purchase_history_table_num">{{ p.price }} <span class="purchase_history_table_unit">円</span></td>
                  <td class="purchase_history_table_num"><span id="purchase_history_table_day">{{ p.purchased_at|date:"Y年m月d日 H:i" }}</span></td>
                </tr>
                {% endfor %}

            </table>

            {% else %}
            <p>まだチアコ購入履歴がありません。</p>
            {% endif %}

        </div>


    </div>

    <a id="purchase_history_mypage_link" href="{% url 'accounts:mypage' %}">▶ マイページへ</a>

    <br><br>

    <a id="purchase_history_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>

{% endblock %}