{% extends "common/base.html" %}
{% block content %}
<h2>チアコイン購入履歴</h2>
{% if cheer_purchases %}
<table border="1" cellpadding="6">
  <tr><th>チアコ数</th><th>金額</th><th>購入日時</th></tr>
  {% for p in cheer_purchases %}
  <tr>
    <td>{{ p.coins }} コイン</td>
    <td>{{ p.price }} 円</td>
    <td>{{ p.purchased_at|date:"Y年m月d日 H:i" }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>まだチアコ購入履歴がありません。</p>
{% endif %}

<div id="purchase_history_mypage_button"><a href="{% url 'accounts:mypage' %}">▶マイページへ</a></div>
<div id="purchase_history_returntop_button"><a href="{% url 'main:index' %}#">▶トップページへもどる</a></div>

{% endblock %}