{% extends "common/base.html" %}
{% block content %}
<h2>チアコイン購入履歴</h2>
{% if cheer_purchases %}
<table border="1" cellpadding="6">
  <tr><th>チアコ数</th><th>金額</th><th>購入日時</th></tr>
  {% for p in cheer_purchases %}
  <tr>
    <td>{{ p.coins }} コイン</td>
    <td>{{ p.price }} 円</td>
    <td>{{ p.purchased_at|date:"Y年m月d日 H:i" }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>まだチアコ購入履歴がありません。</p>
{% endif %}


<h2>スタポ履歴</h2>
{% if stanning_purchases %}
<table border="1" cellpadding="6">
  <tr><th>プラン名</th>
    <th>動物</th>
    <th>付与スタポ</th>
    <th>加入日</th>
    <th>終了日</th>
  </tr>
  {% for s in stanning_purchases %}
  <tr>
    <td>{{ s.plan.plan_name }}</td>
    <td>{{ s.animal.japanese }}</td>  
    <td>{{ s.plan.st_point }} スタポ</td>
    <td>{{ s.sign_up|date:"Y年m月d日" }}</td>
    <td>{{ s.end_day|date:"Y年m月d日" }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>まだスタポ履歴がありません。</p>
{% endif %}
{% endblock %}