{% extends "common/base.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/donation_history.css' %}">
{% endblock %}

{% block title %}アニマルマニア｜寄付履歴{% endblock %}

{% block content %}


<div id="donation_history_large_box">

    <h1 id="donation_history_lang">寄付履歴</h1>

    <br>

    <div id="donation_history_small_box">

        <div id="donation_history_small_box_lang">



            {% if donations %}
            <table id="donation_history_table">

                    <tr>
                        <th class="donation_history_table_text">寄付日</th>
                        <th class="donation_history_table_text">動物園</th>
                        <th class="donation_history_table_text">金額</th>
                        <th class="donation_history_table_text">メッセージ</th>
                        <th id="donation_history_table_text_01">PDF</th>
                    </tr>


                {% for donation in donations %}
                    <tr>
                        <td id="donation_history_table_num_01">{{ donation.created_at|date:"Y/m/d H:i" }}</td>
                        <td class="donation_history_table_num">{{ donation.zoo.zoo_name }}</td>
                        <td class="donation_history_table_num">{{ donation.amount|intcomma }} 円</td>
                        <td id="donation_history_table_num_02">{{ donation.message|default:"-" }}</td>
                        <td id="donation_history_table_num_03">
                            <a href="{% url 'donation:donation_receipt_pdf' donation.donation_id %}" target="_blank">表示</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>

            {% else %}
            <p>まだ寄付履歴はありません。</p>
            {% endif %}



      </div>


    </div>

    <a id="donation_history_mypage_button" href="{% url 'accounts:mypage' %}">▶ マイページへ</a>

    <br><br>

    <a id="donation_history_returntop_button" href="{% url 'main:index' %}#">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>







{% endblock %}
