@charset "UTF-8";

html {
	scroll-behavior: smooth;
}

body {
  font-family: 'M PLUS Rounded 1c';
}



/* ーーーーーー */
/* 共通基本設定 */
/* ーーーーーー */

#main_body {
  margin: 0 auto;
  display:flex;
  width: 100%;
}

/* ーーーーーー */
/* ホバー時等設定 */
/* ーーーーーー */

/* a:visited { 
  color: rgb(44, 44, 43);
}

a:hover {
  color: #1ab193;
}

#work_image ul li a:hover {
  color: #1ab193;
}

a:hover img { opacity: 0.4;} */


/* #work_image ul li a img:hover{
	opacity:0.2;
	transition:0.3s;
} */


/* メイン左上ロゴ部分 */

.main_left_image {
  background-color: rgb(255, 255, 255);
  top: 10px;
  width: 200px;
}


/* 左サイド部分 */

#main_left {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgb(173, 180, 34); */
  width: 200px;
}

nav {
  position: fixed;
  bottom: 50px;
  left: 0;
  font-weight: 600;
  font-family: 'Zen Kurenaido';
  font-size: 22px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}




/* 中央部分 */

#main_center {
  margin-left: 200px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 40px;
  /* height: 1500px; */
  background-color: rgb(168, 168, 234);
  /* width: 900px; */
}



/* 右サイド部分 */

#main_right {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 1500px;
  pointer-events: none;
  /* background-color: rgb(205, 22, 22); */
}

/* 右サイドしおり部分 */

#personal_box_logout {
  pointer-events: auto;
  position: fixed;
  top: 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(44, 29, 16);
  padding: 8px 15px 10px 15px;
  display: flex; /* 親要素にflexboxを適用 */
  flex-direction: column; /* 子要素を縦に並べる */
  align-items: flex-end;
}

#personal_box_login {
  pointer-events: auto;
  position: fixed;
  top: 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(44, 29, 16);
  padding: 6px 15px 9px 15px;
  display: flex; /* 親要素にflexboxを適用 */
  flex-direction: column; /* 子要素を縦に並べる */
  align-items: flex-end;
}


#personal_box_01, #personal_box_02, #personal_box_03, #personal_box_04 {
  color: aliceblue;
  display: flex;
  align-items: flex-end;
}

#personal_box_01 {
  margin-bottom: 3px;
}

#personal_box_04 {
  margin-bottom: -2px;
}

.personal_box_link {
  text-decoration: none;
}


.personal_box_h2, .personal_box_h3, .personal_box_h4, .personal_box_h6, .personal_box_h7, .personal_box_h8 {
  margin: -5px 0px -2px 2px;
}

.personal_box_h2 {
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
}
.personal_box_h3 {
  margin-left: 9px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
}

.personal_box_h4 {
  font-size: 16px;
  font-weight: 700;
}

.personal_box_h6 {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 1px;
}

.personal_box_h7 {
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 800;
}

.personal_box_h8 {
  display:flex;
  padding-top: 2px;
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 600;
}

.personal_box_h8 span {
  display:block;
  font-size: 0.6em;
  padding-top: 7px;
}

/* 右ページページハンバーガーメニュー部分 */

.hamburger-menu {
  pointer-events: auto;
  position: fixed;
  right: 40px;
  top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.hamburger-line {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin-bottom: 9px;
}

@keyframes color-change {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #333;
  }
}

.animate-color-change {
  animation-name: color-change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


/* 右ページページトップ戻るボタン部分 */

.pagetop {
  opacity: 0.5;
  pointer-events: auto;
  position: fixed;
  right: 40px;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex; /* 親要素にflexboxを適用 */
  flex-direction: column; /* 子要素を縦に並べる */
  text-decoration: none;
}

.pagetop_arrow {
  height: 40px;
  width: 40px;
  border-top: 3px solid #4e3c31;
  border-right: 3px solid #4e3c31;
  transform: translateY(20%) rotate(-45deg);
}

.pagetop_lang {
  color: #4e3c31;
  text-align: center;
  line-height: 18px;
}



/* フッター部分 */

footer {
  text-align: center;
}

#footer_nav {
  background-color: rgb(77, 205, 22);
  font-family: 'Zen Kurenaido Regular';
}

#footer_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#footer_nav ul li {
  margin: 0 30px;
}

#footer_nav ul li a {
  text-decoration: none;
}






