@charset "UTF-8";

/* ーーーーーー */
/* 共通基本設定 */
/* ーーーーーー */


#main_body {
  margin: 0 auto;
  display:flex;
  font-family: 'Rubik';
  width: 100%;
}

/* ーーーーーー */
/* ホバー時等設定 */
/* ーーーーーー */

/* a:visited { 
  color: rgb(44, 44, 43);
}

a:hover {
  color: #1ab193;
}

#work_image ul li a:hover {
  color: #1ab193;
}

a:hover img { opacity: 0.4;} */


/* #work_image ul li a img:hover{
	opacity:0.2;
	transition:0.3s;
} */


/* メイン左上ロゴ部分 */

.main_left_image {
  background-color: rgb(255, 255, 255);
  top: 10px;
  width: 200px;
}


/* 左サイド部分 */

#main_left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* background-color: rgb(173, 180, 34); */
  width: 200px;
}


nav {
  font-family: 'Zen Kurenaido';
  font-size: 17px;
  padding-top: 50px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}




/* 中央部分 */

#main_center {
  margin-left: 200px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 40px;
  /* height: 1500px; */
  background-color: rgb(168, 168, 234);
  /* width: 900px; */
}



/* 右サイド部分 */

#main_right {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 1500px;
  background-color: rgb(205, 22, 22);
  opacity:0.2;
}


/* フッター部分 */

footer {
  text-align: center;
}

#footer_nav {
  background-color: rgb(77, 205, 22);
  font-family: 'Zen Kurenaido Regular';
}

#footer_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#footer_nav ul li {
  margin: 0 30px;
}

#footer_nav ul li a {
  text-decoration: none;
}






