@charset "UTF-8";

/* ーーーーーー */
/* 共通基本設定 */
/* ーーーーーー */

html {
  overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
  font-family: 'M PLUS Rounded 1c';
  margin: 0;
  padding: 0;
  /* background-image: url("/static/img/animal_haikei.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

#main_body {
  margin: 0 auto;
  display:flex;
  width: 100%;
}

/* ーーーーーー */
/* ホバー時等設定 */
/* ーーーーーー */

a:visited { 
  color: rgb(100, 212, 135);
}

a:hover {
  color: rgb(0, 255, 81);
}

/* #work_image ul li a:hover {
  color: #b78033;
} */

a:hover img { opacity: 0.4;}


/* 左部分ロゴ部分 */

.main_left_image {
  top: 10px;
  width: 200px;
}


/* 左部分 */

#main_left {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgb(173, 180, 34); */
  width: 200px;
}


/* 左部分ナビゲーション部分 */

nav {
  position: fixed;
  bottom: 30px;
  left: 0;
  font-weight: 600;
  font-family: 'Zen Kurenaido';
  font-size: 20.5px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  letter-spacing: -0.1em;
  text-decoration: none;
}

.nav_ul_li_a_01 {
  letter-spacing: -0.15em;
  font-size: 19px;
}

.nav_ul_li_a_02 {
  letter-spacing: -0.17em;
  font-size: 18px;
  font-weight: 600;
}


/* 中央部分 */

#main_center {
  margin-left: 200px;
  padding: 100px 40px 0px 10px;
  background-color: rgb(168, 168, 234);
}


/* 右部分 */

#main_right {
  position: fixed;
  top: 0;
  right: 0;
  /* width: 610px; */
  height: 1500px;
  pointer-events: none;
  /* background-color: rgb(205, 22, 22); */
}

/* 右部分カート部分 */

#cart {
  pointer-events: auto;
  position: fixed;
  top: 25px;
  right: 200px;
}

#cart_num {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(15, 81, 36);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(13, 47, 13, 0.3);
}

/* 右部分しおり部分 */

#personal_box_login {
  pointer-events: auto;
  position: fixed;
  top: 0px;
  right: 280px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(11, 158, 58);
  padding: 6px 15px 9px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#personal_box_logout {
  pointer-events: auto;
  position: fixed;
  top: 0px;
  right: 280px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(11, 158, 58);
  padding: 8px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#personal_box_01, #personal_box_02, 
#personal_box_03, #personal_box_04 {
  color: aliceblue;
  display: flex;
  align-items: flex-end;
}

#personal_box_01 a {
  text-decoration: none;
}

#personal_box_01 {
  margin-bottom: 3px;
}

#personal_box_04 {
  margin-bottom: -2px;
}

.personal_box_link {
  text-decoration: none;
}

.personal_box_h2, .personal_box_h3, .personal_box_h4, 
.personal_box_h6, .personal_box_h7, .personal_box_h8 {
  margin: -5px 0px -2px 2px;
}

.personal_box_h2 {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
  overflow-wrap: break-word;
  word-break: keep-all;
  overflow-wrap: break-word
}
.personal_box_h3 {
  margin-left: 9px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
}

.personal_box_h4 {
  font-size: 16px;
  font-weight: 700;
}

.personal_box_h6 {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 1px;
}

.personal_box_h7 {
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 800;
}

.personal_box_h8 {
  display:flex;
  padding-top: 2px;
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 600;
}

.personal_box_h8 span {
  display:block;
  font-size: 0.6em;
  padding-top: 7px;
}


/* 右部分ハンバーガーメニュー部分 */

#hamburger_menu {
  pointer-events: auto;
  position: fixed;
  right: 50px;
  top: 46px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}

.hamburger_line {
  border: 2px solid rgb(11, 158, 58);
  border-radius: 5px;
  margin-bottom: 13px;
  width: 80%;
  transition: background-color 0.3s;
}

.active .hamburger_line:nth-child(1) {
  transform: translateY(15.5px) rotate(45deg);
}

.active .hamburger_line:nth-child(2) {
  opacity: 0;
}

.active .hamburger_line:nth-child(3) {
  transform: translateY(-15.5px) rotate(-45deg);
}

#hamburger_menu_content_outside {
  pointer-events: auto;
  border-radius: 5px;
  margin: 90px 46px 0px 0px;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Zen Kurenaido';
  font-size: 18px;
  font-weight: 600;
}

#hamburger_menu_content {
  display: flex;
  padding: 25px 25px 25px 25px;
  justify-content: space-between;
}

#hamburger_menu_content_01, #hamburger_menu_content_03 {
  list-style: none;
  display:flex;
  flex-flow: column;
}

#hamburger_menu_content_02 {
  margin: 2px 23px 2px 17px;
  list-style: none;
  border: 0.1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.active + #hamburger_menu_content_outside {
  display: block;
}

.hamburger_menu_content_a {
  text-decoration: none;
}

.hamburger_menu_content_a span{
  letter-spacing: -0.1em;
}

.hamburger_menu_content_h3 {
  color: rgb(15, 81, 36);
  font-size: 25px;
  font-weight: 900;
  margin: -5px 0px 2px 0px;
  text-align: right;
  line-height: 26px;
  max-width: 270px;
  overflow-wrap: break-word;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.hamburger_menu_content_h3 span {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 400;
  font-size: 16px;
}


/* 右部分トップ戻るボタン部分 */

.pagetop {
  pointer-events: auto;
  position: fixed;
  right: 50px;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.pagetop_arrow {
  height: 40px;
  width: 40px;
  border-top: 2.5px solid rgb(11, 158, 58);
  border-right: 2.5px solid rgb(11, 158, 58);
  border-top-right-radius: 6px;
  transform: translateY(20%) rotate(-45deg);
}

.pagetop_lang {
  color: rgb(11, 158, 58);
  text-align: center;
  line-height: 18px;
  font-weight: 600;
}


/* フッター部分 */

footer {
  text-align: center;
}

#footer_box {
  background-color: rgb(11, 158, 58);
}

#footer_nav {
  background-color: rgb(11, 158, 58);
  font-family: 'Zen Kurenaido Regular';
  padding-top: 5px;
}

#footer_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: -10px;
}

#footer_nav ul li {
  margin: 0 20px;
}

#footer_nav ul li a {
  text-decoration: none;
  font-size: 16px;
}

#footer_box small {
  color: #ffffff;
}








