@charset "UTF-8";

/* ーーーーーー */
/* 共通基本設定 */
/* ーーーーーー */

html {
  overflow-x: hidden;
	scroll-behavior: smooth;
  position: relative;
}

body {
  font-family: 'M PLUS Rounded 1c';
  margin: 0;
  padding: 0;
  background-image: url("/static/img/animal_haikei.png");
  background-size: 100%;

  position: relative;
  /* background-color: rgb(255, 255, 255); */
  /* background-repeat: no-repeat; */
}

#main_body {
  margin: 0 auto;
  display:flex;
  width: 100%;
}

/* ーーーーーー */
/* ホバー時等設定 */
/* ーーーーーー */

a:visited { 
  color: rgb(35, 62, 43);
}

nav ul li a:hover {
  color: #b78033;
}

a:hover {
  color: #b78033;
}

a:hover img { opacity: 0.7;}


/* 左部分 */

#main_left {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgb(173, 180, 34); */
  width: 200px;
}

/* 左部分ロゴ部分 */

.main_left_image {
  width: 178px;
  margin-left: 20px;
  margin-top: 20px;
}


/* 左部分ナビゲーション部分 */

nav {
  mix-blend-mode: screen;
  position: fixed;
  bottom: 20px;
  left: 0;
  font-weight: 600;
  font-family: 'Zen Kurenaido';
  font-size: 18px;
  color: rgb(22, 137, 56);
}

nav ul {
  list-style: none;
}

nav ul li a {
  letter-spacing: -0.1em;
  text-decoration: none;
}


/* 中央部分 */

#main_center {
  position: relative;
  z-index: -1;
  margin-left: 200px;
  padding: 100px 40px 0px 10px;
  /* background-color: rgb(168, 168, 234); */
}


/* 右部分 */

#main_right {
  position: fixed;
  top: 0;
  right: 0;
  /* height: 1500px; */
  pointer-events: none;
  /* background-color: rgb(205, 22, 22); */
}

/* 右部分カート部分 */

#cart {
  pointer-events: auto;
  position: fixed;
  top: 23px;
  right: 197px;
}

#cart_num {
  position: absolute;
  top: -10px;
  right: -8px;
  background-color: rgb(22, 137, 56);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 右部分しおり部分 */

#personal_box_login {
  pointer-events: auto;
  position: fixed;
  top: -3.5px;
  right: 280px;
  border: 3.5px solid #ffffff;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(22, 137, 56);
  padding: 6px 15px 9px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#personal_box_logout {
  pointer-events: auto;
  position: fixed;
  top: 0px;
  right: 280px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(22, 137, 56);
  padding: 8px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#personal_box_01, #personal_box_02, 
#personal_box_03, #personal_box_04 {
  color: aliceblue;
  display: flex;
  align-items: flex-end;
}

#personal_box_01 a {
  text-decoration: none;
}

#personal_box_01 {
  margin-bottom: 3px;
}

#personal_box_04 {
  margin-bottom: -2px;
}

.personal_box_link {
  text-decoration: none;
}

.personal_box_h2, .personal_box_h3, .personal_box_h4, 
.personal_box_h6, .personal_box_h7, .personal_box_h8 {
  margin: -5px 0px -2px 2px;
}

.personal_box_h2 {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
  overflow-wrap: break-word;
  word-break: keep-all;
  overflow-wrap: break-word
}
.personal_box_h3 {
  margin-left: 9px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
}

.personal_box_h4 {
  font-size: 16px;
  font-weight: 700;
}

.personal_box_h6 {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 1px;
}

.personal_box_h7 {
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 800;
}

.personal_box_h8 {
  display:flex;
  padding-top: 2px;
  font-size: 24px;
  font-family: 'Zen Kurenaido';
  font-weight: 600;
}

.personal_box_h8 span {
  display:block;
  font-size: 0.6em;
  padding-top: 7px;
}


/* 右部分ハンバーガーメニュー部分 */

#hamburger_menu {
  mix-blend-mode: screen;
  pointer-events: auto;
  position: fixed;
  right: 50px;
  top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}

.hamburger_line {
  border: 2px solid rgb(22, 137, 56);
  border-radius: 5px;
  margin-bottom: 13px;
  width: 80%;
  transition: background-color 0.3s;
}

.active .hamburger_line:nth-child(1) {
  transform: translateY(15.5px) rotate(45deg);
}

.active .hamburger_line:nth-child(2) {
  opacity: 0;
}

.active .hamburger_line:nth-child(3) {
  transform: translateY(-15.5px) rotate(-45deg);
}

#hamburger_menu_content_outside {
  position: fixed;
  top: 5px;
  right: 0;
  pointer-events: auto;
  border-radius: 7px;
  margin: 90px 46px 0px 0px;
  display: none;
  background-color: rgba(230, 246, 179, 0.95);
  font-family: 'Zen Kurenaido';
  font-size: 19px;
  font-weight: 600;
}

#hamburger_menu_content {
  display: flex;
  padding: 0px 25px 0px 25px;
  justify-content: space-between;
}

#hamburger_menu_content_01, #hamburger_menu_content_03 {
  list-style: none;
  display:flex;
  flex-flow: column;
}

#hamburger_menu_content_01 {
  padding-right: 6px;
}

#hamburger_menu_content_03 a {
  text-decoration: none;
}

.hum_name:visited {
  color: rgb(22, 137, 56);
}

#hamburger_menu_content_02 {
  margin: 5px 23px 5px 17px;
  list-style: none;
  border: 0.1px solid rgb(197, 229, 165);
  border-radius: 5px;
}

.active + #hamburger_menu_content_outside {
  display: block;
}

.hamburger_menu_content_a {
  text-decoration: none;
  line-height: 33px;
}

.hamburger_menu_content_a span{
  letter-spacing: -0.1em;
}

.hamburger_menu_content_h3 {
  color: rgb(22, 137, 56);
  font-size: 25px;
  font-weight: 900;
  margin: -5px 0px 2px 0px;
  text-align: right;
  line-height: 32px;
  max-width: 270px;
  overflow-wrap: break-word;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.hamburger_menu_content_h3 span {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 500;
  font-size: 17px;
}


/* 右部分トップ戻るボタン部分 */

.pagetop {
  mix-blend-mode: screen;
  pointer-events: auto;
  position: fixed;
  right: 50px;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.pagetop_arrow {
  height: 40px;
  width: 40px;
  border-top: 3.5px solid rgb(22, 137, 56);
  border-right: 3.5px solid rgb(22, 137, 56);
  border-top-right-radius: 8px;
  transform: translateY(20%) rotate(-45deg);
}

.pagetop_lang {
  color: rgb(22, 137, 56);
  text-align: center;
  line-height: 18px;
  font-weight: 600;
  font-size: 16px;
}


/* フッター部分 */

footer {
  text-align: center;
}

/* フッターグッズスクロール部分 */

/* .goods-scroller {
  position: relative;
  z-index: -1;
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
  width: 100%;
  height: 120px;
}

.goods-item {
  flex: 0 0 auto;
  height: 120px;
}

.goods-item img {
  height: 120px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
} */

.goods-scroller {
  position: relative;
  z-index: -1;
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
  width: 100%;
  height: 120px;
}
 
.goods-track {
  display: flex;
  flex-wrap: nowrap;
  animation: goods-scroll 10s linear infinite;
}
 
.goods-item {
  flex: 0 0 auto;
  width: 200px;
  /* margin-right: 10px; */
}
 
.goods-item img {
  width: 100%;
  display: block;
}
 
@keyframes goods-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* 元リストの幅分だけ左へ移動 */
  }
}





/* フッター緑山から下部分 */

#footer_box {
  background-color: rgb(22, 137, 56);
  text-align: center;
}

#footer_forest {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}

#footer_nav {
  background-color: rgb(22, 137, 56);
  font-family: 'Zen Kurenaido';
  padding-top: 5px;
}

#footer_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: -10px;
  margin-left: -22px;
}

#footer_nav ul li {
  margin: 0 20px;
}

#footer_nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(102, 217, 133);
}

#footer_logo {
  width: 230px;
}

#footer_tree_kanri {
  width: 30px;
}








