
/* カート大箱 */
#cart_large_box {
  margin: 0;
  padding: 0 100px 0 0;
  text-align: center;
  color: rgb(15, 88, 37)
  /* background-color: rgb(255, 230, 0); */
}

/* カートタイトル */
#cart_lang {
  text-align: center;
  font-weight: 900;
  font-size: 3.5vw;
}

/* カート小箱 */
#cart_small_box {
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
  /* background-color: rgb(115, 255, 0); */
}

/* カート小箱の中の小箱 */
#cart_small_box_border {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  border: 2px solid rgb(172, 200, 180); /*borderの指定*/
  border-radius: 1vw;
  /* background-color: rgb(255, 72, 0); */
  width: 47vw;
}

/* カート小箱の中の小箱の小箱（注文内容テーブル） */
#cart_small_box_lang {
  text-align: left;
  font-weight: 800;
  font-size: 1.3vw;
  padding: 4vw 3vw 3vw 3vw;
  width: 100%;
  color: rgb(15, 88, 37)
  /* background-color: rgb(105, 103, 42); */
}

/* ーーーーーーーーー */
/* 小箱の中の各種項目 */
/* ーーーーーーーーー */

/* カートテーブル外周り */
#cart_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.cart_table_title {
  padding: 0 0.6vw 0.5vw 0.6vw;
  border-bottom: solid 3px rgb(172, 200, 180);
  color: rgb(172, 200, 180);
}
#cart_table_contents_image, #cart_table_contents_name, 
#cart_table_contents_stapo, .cart_table_contents_delete, 
#cart_table_contents_pieces, #cart_table_contents_subtotal {
  padding: 0.6vw;
  border-bottom: solid 1px rgb(172, 200, 180);
}
/* カートテーブル各題名文字 */
.cart_table_title {
  font-weight: 500;
  font-size: 1vw;
}
/* カートテーブル商品写真 */
#cart_table_contents_image {
  width: 5vw;
  object-fit: cover;
  object-position: center;
}
#cart_goods_image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* カートテーブル商品名 */
#cart_table_contents_name {
  font-weight: 700;
  font-size: 1.15vw;
  line-height: 1.1em;
  width: 8vw;
}
/* カートテーブルスタポ数字 */
#cart_table_contents_stapo {
  font-weight: 500;
  font-size: 1.7vw;
  width: 6vw;
}
/* カートテーブルスタポ単位 */
#cart_table_contents_stapo_unit {
  font-weight: 700;
  font-size: 0.9vw;
}
/* カートテーブル個数 */
#cart_table_contents_pieces {
  font-weight: 500;
  font-size: 1.8vw;
  text-align: center;
  width: 3vw;
}
/* カートテーブル+-削除 */
.cart_table_contents_delete {
  font-weight: 700;
  font-size: 1vw;
}
/* カートテーブル+- */
.cart_table_contents_delete_01 {
  text-decoration: none;
  padding: 0.28vw 0.3vw 0.3vw 0.28vw;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
  font-weight: 900;
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_table_contents_delete_01:link {
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
}
.cart_table_contents_delete_01:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
}
.cart_table_contents_delete_01:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(89, 197, 35);
}

/* カートテーブル小計 */
#cart_table_contents_subtotal {
  font-weight: 700;
  font-size: 1.7vw;
}
/* カートテーブルゴミ箱 */
#cart_table_contents_delete_02 {
  width: 1vw;
}
#cart_table_contents_dustbox {
  padding: 0.1vw 0 0 0.4vw;
  width: 50%;
  object-fit: cover;
  object-position: center;
}

/* 合計商品数・合計スタポ数の文字部分 */
#cart_total_text {
  text-align: right;
  font-weight: 500;
  font-size: 1.3vw;
}
/* 合計商品数・合計スタポ数の数字 */
.cart_total_num {
  padding: 0 0.4vw 0 0.4vw;
  font-weight: 500;
  font-size: 2.5vw;
}

/* 所持スタポ文 */
#cart_have_stapo {
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 2vw;
  text-align: right;
}
/* 所持スタポ数字 */
#cart_have_stapo_num {
  font-weight: 900;
  font-size: 1.3vw;
}


/* 交換手続きへボタン */
#checkout-link_cart {
  text-decoration: none;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 0.3vw 1.5vw 0.3vw 1.5vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
  float: right;
}
#checkout-link_cart:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
}
#checkout-link_cart:link {
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
}
#checkout-link_cart:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(89, 197, 35);
}

/* グッズページへ戻るボタン */
#cart_returngoodspage_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1vw;
  color: rgb(172, 200, 180);
}
#cart_returngoodspage_link:visited {
  color: rgb(172, 200, 180);
}
#cart_returngoodspage_link:link {
  color: rgb(172, 200, 180);
}
#cart_returngoodspage_link:hover {
  color: rgb(89, 197, 35);
}



/* ーーーーーーーー */
/* 会員登録認証誘導 */
/* ーーーーーーーー */

/* 会員登録認証誘導大箱 */
#authModal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(105, 184, 120, 0.62);
}
/* 会員登録認証誘導小箱 */
#cart_auth_box {
  background-color: rgb(255, 255, 255);
  width: 30vw;
  margin: 23vh 0 0 31.5vw;
  padding: 2vw 5vw 4vw 5vw;
  border-radius: 8px;
  text-align: center;
}
/* 会員登録認証誘導テキスト */
#cart_auth_text {
  font-size: 1.5vw;
  font-weight: 600;
  color: rgb(22, 137, 56);
  margin-bottom: 2vw;
}
#cart_auth_img {
  width: 25%;
  margin-top: -1vw;
  margin-bottom: 1vw;
}
/* キャンセルボタン */
#authCancelBtn {
  font-family: 'M PLUS Rounded 1c';
  font-size: 1.1vw;
  font-weight: 500;
  height: 2.6vw;
  width: 7.8vw;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(22, 137, 56);
  border: 2px solid rgb(22, 137, 56);
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
}
#authCancelBtn:hover {
  color: rgb(89, 197, 35);
  border: 2px solid rgb(89, 197, 35);
}
/* 新規登録ボタン */
#cart_auth_new_button {
  background-color: rgb(22, 137, 56);
  color: #fff;
  padding: 0.4vw 1.3vw 0.4vw 1.3vw;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
}
#cart_auth_new_button:hover {
  background-color: rgb(89, 197, 35);
}
/* ログインボタン */
#cart_auth_login_button {
  background-color: rgb(22, 137, 56);
  color: #fff;
  padding: 0.4vw 1.3vw 0.4vw 1.3vw;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
}
#cart_auth_login_button:hover {
  background-color: rgb(89, 197, 35);
}










/* グッズページへ戻る */
#cart_goodspage_button {
  text-decoration: none;
  font-size: 14pt;
}

/* トップページへもどる */
#cart_returntop_button {
  text-decoration: none;
  font-size: 14pt;
}








