
/* カート大箱 */
#checkout_large_box {
  margin: 0;
  padding: 0 100px 0 0;
  text-align: center;
  color: rgb(15, 88, 37);
  /* background-color: rgb(255, 230, 0); */
}

/* カートタイトル */
#checkout_lang {
  text-align: center;
  font-weight: 900;
  font-size: 2.7vw;
  padding-bottom: 2vw;
}

/* カート小箱 */
#checkout_small_box {
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
  /* background-color: rgb(115, 255, 0); */
}

/* カート小箱の中の小箱 */
#checkout_small_box_border {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  border: 2px solid rgb(172, 200, 180); /*borderの指定*/
  border-radius: 1vw;
  /* background-color: rgb(255, 72, 0); */
  width: 45vw;
}

/* カート小箱の中の小箱の小箱（注文内容テーブル） */
#checkout_small_box_lang {
  text-align: left;
  font-weight: 800;
  font-size: 1.3vw;
  padding: 3vw 3vw 3vw 3vw;
  width: 100%;
  color: rgb(15, 88, 37)
  /* background-color: rgb(105, 103, 42); */
}

/* ーーーーーーーーー */
/* 小箱の中の各種項目 */
/* ーーーーーーーーー */

/* 交換確定フォーム */
#address-form {
  width: 100%;
}

/* 名前・電話番号箱 */
#checkout_name_phone {
  display: flex;
  justify-content: space-between; /* 両端に配置 */
}
#checkout_name_phone p {
  font-weight: 500;
  font-size: 1vw;
  color: rgb(172, 200, 180);
}
/* 名前・電話番号 */
.checkout_name_phone {
  font-weight: 500;
  font-size: 1.4vw;
  color: rgb(15, 88, 37);
}


/* 配送先選択誘導文 */
#checked_address_choice_text {
  font-weight: 700;
  font-size: 1.5vw;
  background-color: rgb(15, 88, 37);
  color: #fff;
  padding: 0.3vw 1vw 0.3vw 1vw;
  width: 20.5vw;
}
/* 登録済みアドレス内容 */
#checkout_register_address {
  margin: 0.5vw 0 1.5vw 2.5vw;
}
#checkout_register_address p {
  font-weight: 400;
  font-size: 1.15vw;
  padding: 0;
  margin: 0;
}

/* 配送先選択ラジオボタン */
.checkout_address_radio_text {
  font-weight: 900;
  font-size: 1.5vw;
}
/* 配送先ラジオボタンの元を消してチェックボックスを作成する */
.checkout_address_radio_text input {
  display: none;
}
.checkout_radio_design {
	padding-left: 2.5vw;
	position: relative;
}
.checkout_radio_design::before,
.checkout_radio_design::after{
	content: "";
	display: block;
	position: absolute;
}
.checkout_radio_design:before{
	width: 1.5vw;
	height: 1.5vw;
	background: #ffffff;
    border: 2px solid rgb(172, 200, 180);
    border-radius: 5px;
    /* top: 2px; */
    padding: 0;
    margin: 0.25vw 0 0 0;
}
.checkout_address_radio_text input:checked + .checkout_radio_design::after{
	border-left: 3px solid #ff4000;
	border-bottom: 3px solid #ff4000;
	width:1.8vw;
	height: 1vw;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	/* left:5px;
	top:3px; */
    padding: 0;
    margin: -0.15vw 0 0 0;
}


/* ーーーーーーーーーーー */
/* 新しい住所入力フォーム */
/* ーーーーーーーーーーー */

/* 新しい住所入力フォーム外枠 */
.checkout_address-form {
  width: 100%;
  margin: 0 2.5vw 0 2.5vw;
  padding: 0;
}
/* 各項目フォント */
.checkout_address-form label {
  font-weight: 500;
  font-size: 1.1vw;
  color: rgb(172, 200, 180);
  display: block;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
/* 各入力部分 */
.checkout_address-form input {
  font-family: 'M PLUS Rounded 1c';
  padding: 0.4vw 1.2vw 0.4vw 1.2vw;
  border: 1px solid rgb(172, 200, 180);
  border-radius: 0.5vw;
  font-weight: 500;
  font-size: 1.15vw;
  color: rgb(15, 88, 37);
  margin-top: 0.1vw;
}
.checkout_address-form input:focus {
  outline: none; /* フォーカス時のボーダー色（青） */
  border: 2px solid rgb(15, 88, 37);
}
.checkout_address-form input::placeholder {
  font-weight: 400;
  font-size: 0.9vw;
  color: rgb(172, 200, 180);
}
/* 各テキスト部分長さ */
.checkout_address-form_name {
  width: 15vw;
}
.checkout_address-form_address_num {
  width: 8vw;
}
.checkout_address-form_address {
  width: 31vw;
}
.checkout_address-form_phone {
  width: 10vw;
}
/* 各入力箇所注意書き */
.checkout_address-form_caution_01, 
#checkout_address-form_caution_02 {
  font-weight: 400;
  font-size: 0.8vw;
}


/* 〒番号・住所見つからないエラー表示 */
.checkout-error-message {
  color: #ff4000;
  font-size: 1.1vw;
  margin-top: 0.05vw 0 0 0;
  padding: 0;
}
/* 新しい住所フォーム再度入力欄 */
input.checkout-error {
  border-color: #ff4000;
}


/* ーーーーーーーーーーーー */
/* 商品内容テーブル各種項目 */
/* ーーーーーーーーーーーー */

#checkout_table_title {
  font-weight: 700;
  font-size: 1.8vw;
  text-align: center;
  padding: 0;
  margin: 4vw 0 1vw 0;
}

/* 商品内容テーブル外周り */
#checkout_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#checkout_table_contents_image, #checkout_table_contents_name, 
#checkout_table_contents_stapo, #checkout_table_contents_pieces, 
#checkout_table_contents_subtotal {
  padding: 0.6vw;
  border-bottom: solid 1px rgb(172, 200, 180);
  border-top: solid 1px rgb(172, 200, 180);
}
/* カートテーブル商品写真 */
#checkout_table_contents_image {
  width: 5vw;
  object-fit: cover;
  object-position: center;
}
#checkout_goods_image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* カートテーブル商品名 */
#checkout_table_contents_name {
  font-weight: 700;
  font-size: 1.15vw;
  line-height: 1.1em;
}
/* カートテーブルスタポ数字 */
#checkout_table_contents_stapo {
  font-weight: 500;
  font-size: 1.5vw;
  width: 6vw;
}
/* カートテーブルスタポ単位 */
#checkout_table_contents_stapo_unit {
  font-weight: 700;
  font-size: 0.9vw;
}
/* カートテーブル個数 */
#checkout_table_contents_pieces {
  font-weight: 500;
  font-size: 1.5vw;
  text-align: center;
  width: 3vw;
}
/* カートテーブル小計 */
#checkout_table_contents_subtotal {
  font-weight: 700;
  font-size: 1.5vw;
  padding-left: 1.5vw;
}










/* 合計商品数・合計スタポ数の文字部分 */
#checkout_total_text {
  text-align: right;
  font-weight: 500;
  font-size: 1.3vw;
}
/* 合計商品数・合計スタポ数の数字 */
.checkout_total_num {
  padding: 0 0.4vw 0 0.4vw;
  font-weight: 500;
  font-size: 2.5vw;
}

/* 所持スタポ文 */
#checkout_have_stapo {
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 2vw;
  text-align: right;
}
/* 所持スタポ数字 */
#checkout_have_stapo_num {
  font-weight: 900;
  font-size: 1.3vw;
}

/* 交換を確定するボタン */
.checkout-btn {
  text-decoration: none;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 0.3vw 1.5vw 0.4vw 1.5vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
  float: right;
  border: none;
}
.checkout-btn:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
}
.checkout-btn:link {
  color: rgb(255, 255, 255);
  background-color: rgb(15, 88, 37);
}
.checkout-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(89, 197, 35);
}
/* カートへ戻るリンク */
#checkout_cartreturn_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1vw;
  color: rgb(172, 200, 180);
}
#checkout_cartreturn_link:visited {
  color: rgb(172, 200, 180);
}
#checkout_cartreturn_link:link {
  color: rgb(172, 200, 180);
}
#checkout_cartreturn_link:hover {
  color: rgb(89, 197, 35);
}












/* --- グッズ交換モーダル専用 --- */
.goods_exchange_modal {
    display: none; /* 初期は非表示 */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.goods_exchange_modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.goods_exchange_btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.goods_exchange_btn:hover {
    background-color: #0056b3;
}








/* グッズページへ戻る */
#checkout_goodspage_link {
  text-decoration: none;
  font-size: 14pt;
}

/* トップページへもどる */
#checkout_returntop_link {
  text-decoration: none;
  font-size: 14pt;
}