/* 動物単独ページ大箱 */
#detail_large_box {
  margin: 0;
  padding: 0 100px 0 0;
  text-align: center;
  color: rgb(84, 62, 44);
  /* background-color: rgb(255, 230, 0); */
}

/* 動物単独ページ小箱 */
#detail_small_box {
  margin: 0;
  padding: 0 0 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(115, 255, 0); */
}

/* 動物単独ページ小箱の中の小箱 */
#detail_small_box_border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  /* background-color: rgb(255, 0, 174); */
}

/* 動物単独ページ小箱の中の小箱の小箱（注文者情報内容） */
#detail_small_box_lang {
  display: flex;
  text-align: center;
  font-weight: 800;
  font-size: 1.3vw;
  margin: 0;
  width: 100%;
  width: 68vw;
  /* background-color: rgb(255, 68, 0); */
}

/* ーーーーーーーーー */
/* 小箱の中の各種項目 */
/* ーーーーーーーーー */

/* 動物写真ボックス */
#detail_aminal_img_box {
  padding-right: 2vw;
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 12% 42% 17% 21% / 45% 9% 33% 17%;
  background:none;
  text-transform:uppercase;
  flex: 7;
}
/* 動物写真 */
#detail_aminal_img {
  object-position: 50% 40%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 19% 42% 17% 21% / 45% 25% 33% 17%;
}
/* 動物写真枠後ろの色部分基本の after 共通設定 */
#detail_aminal_img_box:after,
#detail_aminal_img_box.zoo-1:after,
#detail_aminal_img_box.zoo-2:after,
#detail_aminal_img_box.zoo-3:after {
  position: absolute;
  top: -0.5vw;
  left: -1.2vw;
  content: "";
  height: 100%;
  width: 96%;
  z-index:-999;
  -webkit-transform: rotate(6deg);
     -moz-transform: rotate(0deg);
     border-radius: 17% 26% 17% 21% / 26% 22% 33% 17%;
}
/* zoo_id = 1 の色 */
#detail_aminal_img_box.zoo-1:after {
  background: rgb(156, 201, 166); /* 緑 */
}
/* zoo_id = 2 の色 */
#detail_aminal_img_box.zoo-2:after {
  background: rgb(250, 201, 166); /* 青の例 */
}
/* zoo_id = 3 の色 */
#detail_aminal_img_box.zoo-3:after {
  background: rgb(255, 240, 174); /* オレンジの例 */
}

/* 写真と紹介文以外の情報ボックス */
#detail_category_info_box {
  text-align: left;
  flex: 3;
  /* background-color: #ff7ca3; */
}

/* 動物園文字 */
#detail_zooname_box {
  padding: 0.3vw 2vw 0.3vw 1.5vw;
  width: 6vw;
  height: 1.8vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  /* background-color: rgb(17, 226, 101); */
  display: flex;
  justify-content: center; /* 左右中央揃え */
  align-items: center;     /* 上下中央揃え */
  text-align: center;
  position: relative;
}
/* zoo_id = 1 の色 */
#detail_zooname_box.zoo-1 {
  background: rgb(156, 201, 166); /* 緑 */
}
/* zoo_id = 2 の色 */
#detail_zooname_box.zoo-2 {
  background: rgb(250, 201, 166); /* 青の例 */
}
/* zoo_id = 3 の色 */
#detail_zooname_box.zoo-3 {
  background: rgb(255, 240, 174); /* オレンジの例 */
}

#detail_zooname {
  position: absolute;
  font-size: 1.2vw;
  font-weight: 700;
  padding-left: 0.5vw;
}
/* zoo_id = 1 の色 */
#detail_zooname.zoo-1 {
  color: rgb(39, 117, 33);
}
/* zoo_id = 2 の色 */
#detail_zooname.zoo-2 {
  color: rgb(248, 104, 143);
}
/* zoo_id = 3 の色 */
#detail_zooname.zoo-3 {
  color: rgb(237, 179, 41);
}
/* 動物種別 */
#detail_animal_type {
  font-family: 'Zen Kurenaido';
  -webkit-text-stroke: 0.7px rgb(84, 62, 44);
  font-size: 1.4vw;
  margin: 1.5vw 0 0 0;
  line-height: 1.2em;
}
/* 名前 */
#detail_animal_name {
  font-family: 'Zen Kurenaido';
  -webkit-text-stroke: 1px rgb(84, 62, 44);
  font-size: 2.2vw;
  margin: 0.7vw 0 0 0;
  line-height: 1em;
}
/* さん・くん・ちゃん */
#detail_animal_name_mrs {
  font-family: 'Zen Kurenaido';
  -webkit-text-stroke: 1.5px rgb(84, 62, 44);
  font-size: 1.5vw;
  text-align: right;
  margin: -0.5vw 0 0 0;
  padding: 0;
}
/* 年齢 */
#detail_animal_age {
  font-family: 'Zen Kurenaido';
  -webkit-text-stroke: 0.8px rgb(84, 62, 44);
  font-size: 1.5vw;
  margin: 0;
}
#detail_animal_age_unit {
  font-size: 1.5vw;
}



/* 推しポイント関連が入っている箱 */
/* 大箱 */
#detail_oshi_box {
  width: 100%;
  display: flex;
  height: 6vw;
  margin: 1vw 0 0 0;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ff7ca3; */
}
/* 説明箱 */
#detail_oshi_text {
  font-weight: 900;
  font-size: 1.3vw;
  line-height: 1.1em;
  margin-top: -0.5vw;
  width: 12vw;
}
/* 矢印箱 */
#detail_oshi_arrow_box {
  width: 3vw;
}
#detail_oshi_arrow_img {
  width: 100%;
}
/* ポイント箱 */
#detail_oshi_point_box {
  text-align: center;
  margin-bottom: 1vw;
}
.detail_oshi_point {
  font-weight: 900;
  font-size: 3vw;
  margin: 0;
  padding: 0;
}
#detail_oshi_point_unit {
  font-weight: 900;
  font-size: 1.2vw;
  margin: -1vw 0 0 0;
  padding: 0;
}

/* 推しボタンが入っている箱 */
#detail_oshi_btn_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 推しボタン説明文 */
#detail_oshi_btn_text {
  font-weight: 700;
  font-size: 1vw;
  line-height: 1em;
  width: 12vw;
}
#detail_oshi_btn_text_logout {
  font-weight: 700;
  font-size: 1vw;
  line-height: 1em;
  /* width: 12vw; */
  margin: -0.5vw 0 2vw 0;
  /* text-align: right; */
}
#detail_oshi_btn_text_small {
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 1em;
}
#detail_oshi_hand_box {
  width: 1.5vw;
  margin: 4vw 0 0 -1vw;
}
#detail_oshi_hand_img {
  width: 100%;
}
/* 推しボタン */
.push-btn-detail {
  width: 7vw;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 0 0.5vw 0;
  appearance: none;
}
#detail_oshi_btn_img {
  width: 100%;
}
.push-btn-detail:hover {
  transform: scale(1.08);
  transition: all 0.1s ease-in-out; 
}
.push-btn-detail:active {
  top: 2px;
  transition: all 0.6s ease-in-out; 
}

.detail_heart {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  will-change: transform, opacity;
  animation:
    heart-rise 2.2s linear forwards,
    heart-sway 0.9s ease-in-out infinite;
}

/* 上昇＋フェード（一定速度） */
@keyframes heart-rise {
  0%   { opacity: 1; transform: translate(-50%, 0) scale(1); }
  80%  { opacity: 1; transform: translate(-50%, -145px) scale(1.1); }
  100% { opacity: 0; transform: translate(-50%, -180px) scale(1.2); }
}


/* 左右ゆらゆら（周期運動） */
@keyframes heart-sway {
  0%   { margin-left: 0; }
  50%  { margin-left: 10px; }
  100% { margin-left: 0; }
}


/* サブスク誘導文画像 */
#detail_sbsc_text_box {
  position: relative;
  width: 15vw;
  z-index: -1;
}
#detail_sbsc_text_img {
  width: 100%;
  margin: 0;
}
/* サブスク見るボタン*/
#detail_subsc_btn {
  position: relative;
  z-index: 0;
  float: right;
  margin: -2vw 0 0 0;
  text-decoration: none;
  padding: 0.5vw 1vw 0.5vw 1vw;
  width: 14.5vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 62, 44);
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.2em;
  display: flex;
  justify-content: center; /* 左右中央揃え */
  align-items: center;     /* 上下中央揃え */
  text-align: center;
  width: 14vw;
}
#detail_subsc_btn:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(84, 62, 44);
}
#detail_subsc_btn:link {
  color: rgb(255, 255, 255);
  background-color: rgb(84, 62, 44);
}
#detail_subsc_btn:hover {
  background-color: #b78033;
}


/* ーーーーー */
/* 動物紹介文 */
/* ーーーーー */

/* 動物紹介文 */
#detail_animal_introduction_text_box {
  clear: both;
  width: 45vw;
  text-align: center;
}
#detail_animal_introduction_text {
  text-align: left;
  font-family: 'Zen Kurenaido';
  -webkit-text-stroke: 0.7px rgb(84, 62, 44);
  font-size: 1.5vw;
}

/* ーーー */
/* 返礼品 */
/* ーーー */

/* 動物園の名前 */
#detail_zooname_box_02 {
  margin: 4vw 0 3vw 0;
  padding: 0.3vw 2vw 0.3vw 1.5vw;
  width: 15vw;
  height: 2.5vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  /* background-color: rgb(17, 226, 101); */
  font-size: 1.2vw;
  font-weight: 700;
  display: flex;
  justify-content: center; /* 左右中央揃え */
  align-items: center;     /* 上下中央揃え */
  text-align: center;
  position: relative;
  background: rgb(15, 88, 37);
  color: rgb(255, 255, 255);
}
/* zoo_id = 1 の色 */
#detail_zooname_box_02.zoo-1 {
  background: rgb(156, 201, 166); /* 緑 */
}
/* zoo_id = 2 の色 */
#detail_zooname_box_02.zoo-2 {
  background: rgb(250, 201, 166); /* 青の例 */
}
/* zoo_id = 3 の色 */
#detail_zooname_box_02.zoo-3 {
  background: rgb(255, 240, 174); /* オレンジの例 */
}
#detail_zooname_02 {
  position: absolute;
  font-size: 1.6vw;
  font-weight: 700;
  padding-left: 0.5vw;
}
/* zoo_id = 1 の色 */
#detail_zooname_02.zoo-1 {
  color: rgb(39, 117, 33);
}
/* zoo_id = 2 の色 */
#detail_zooname_02.zoo-2 {
  color: rgb(248, 104, 143);
}
/* zoo_id = 3 の色 */
#detail_zooname_02.zoo-3 {
  color: rgb(237, 179, 41);
}

/* 返礼品大箱（グリッド設定） */
#detail_regift_large_box {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(5, 1fr);
  /* background-color: aliceblue; */
  width: 90%;
  position: relative;
}
/* zoo_id = 1 の色 */
#detail_regift_large_box.zoo-1 {
  color: rgb(39, 117, 33);
}
/* zoo_id = 2 の色 */
#detail_regift_large_box.zoo-2 {
  color: rgb(248, 104, 143);
}
/* zoo_id = 3 の色 */
#detail_regift_large_box.zoo-3 {
  color: rgb(237, 179, 41);
}
/* グリッドの箱 */
#detail_regift_box {
  margin: 0;
  padding: 0;
}
/* 画像箱 */
#detail_regift_img_box {
  display: flex;
  gap: 0.5vw;
  flex-direction: column;
  /* background-color: aqua; */
}
/* 返礼品サブスクのコース名 */
#detail_regift_coursename {
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 1.1em;
}
/* 返礼品サブスクの金額 */
#detail_regift_coursemoney_box {
  margin: -0.5vw auto 1vw auto;
  padding: 0.1vw 1.5vw 0.1vw 1.5vw;
  width: 8vw;
  height: 1.7vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  /* background-color: rgb(17, 226, 101); */
  display: flex;
  justify-content: center; /* 左右中央揃え */
  align-items: center;     /* 上下中央揃え */
  text-align: center;
  position: relative;
  border: 3px solid rgb(15, 88, 37);
}
/* zoo_id = 1 の色 */
#detail_regift_coursemoney_box.zoo-1 {
  border: 3px solid rgb(39, 117, 33);
}
/* zoo_id = 2 の色 */
#detail_regift_coursemoney_box.zoo-2 {
  border: 3px solid rgb(248, 104, 143);
}
/* zoo_id = 3 の色 */
#detail_regift_coursemoney_box.zoo-3 {
  border: 3px solid rgb(237, 179, 41);
}
#detail_regift_coursemoney {
  position: absolute;
  font-weight: 900;
  font-size: 1vw;
  /* padding-left: 0.5vw; */
}
/* zoo_id = 1 の色 */
#detail_regift_coursemoney.zoo-1 {
  color: rgb(39, 117, 33);
}
/* zoo_id = 2 の色 */
#detail_regift_coursemoney.zoo-2 {
  color: rgb(248, 104, 143);
}
/* zoo_id = 3 の色 */
#detail_regift_coursemoney.zoo-3 {
  color: rgb(237, 179, 41);
}

/* 画像（大）箱 */
#detail_regift_largeimg_box {
  height: 15vw;
  /* background-color: rgb(111, 0, 255); */
}
/* 画像（大） */
.detail_regift_largeimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1vw;
}
/* 画像（小）箱 */
#detail_regift_smallimg_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3vw;
  height: 3.5vw;
  /* background-color: rgb(238, 0, 255); */
  height: 100%;
}
/* 画像（小） */
#detail_regift_smallimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.2vw;
}
/* 返礼品名 */
#detail_regift_coursetitle {
  font-weight: 900;
  font-size: 1.2vw;
  line-height: 1.1em;
}
/* 返礼品説明文 */
#detail_regift_coursetext {
  font-weight: 300;
  font-size: 1vw;
  text-align: left;
  line-height: 1.2em;
}

/* 返礼品が無かった時の説明文 */
.detail_regift_emptytext {
  font-weight: 500;
  font-size: 1.1vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 自身の半分だけ戻す */
}



/* トップページへもどる */
#detail_returntop_link {
  text-decoration: none;
  font-size: 14pt;
}


/* ーーーーーーーー */
/* 会員登録認証誘導 */
/* ーーーーーーーー */

/* 会員登録認証誘導大箱 */
#authModal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(105, 184, 120, 0.62);
}
/* 会員登録認証誘導小箱 */
#detail_auth_box {
  background-color: rgb(255, 255, 255);
  width: 30vw;
  margin: 23vh 0 0 31.5vw;
  padding: 2vw 5vw 4vw 5vw;
  border-radius: 8px;
  text-align: center;
}
/* 会員登録認証誘導テキスト */
#detail_auth_text {
  font-size: 1.5vw;
  font-weight: 600;
  color: rgb(22, 137, 56);
  margin-bottom: 2vw;
}
#detail_auth_img {
  width: 25%;
  margin-top: -1vw;
  margin-bottom: 1vw;
}
/* キャンセルボタン */
#authCancelBtn {
  font-family: 'M PLUS Rounded 1c';
  font-size: 1.1vw;
  font-weight: 500;
  height: 2.6vw;
  width: 7.8vw;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(22, 137, 56);
  border: 2px solid rgb(22, 137, 56);
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
}
#authCancelBtn:hover {
  color: rgb(89, 197, 35);
  border: 2px solid rgb(89, 197, 35);
}
/* 新規登録ボタン */
#detail_auth_new_button {
  background-color: rgb(22, 137, 56);
  color: #fff;
  padding: 0.4vw 1.3vw 0.4vw 1.3vw;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.15vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
}
#detail_auth_new_button:hover {
  background-color: rgb(89, 197, 35);
}
/* ログインボタン */
#detail_auth_login_button {
  background-color: rgb(22, 137, 56);
  color: #fff;
  padding: 0.4vw 1.3vw 0.4vw 1.3vw;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.15vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
}
#detail_auth_login_button:hover {
  background-color: rgb(89, 197, 35);
}

