
/* 寄付確認大箱 */
#donate_confirm_large_box {
  color: rgb(16, 162, 116);
  margin: 0;
  padding: 0 100px 0 0;
  text-align: center;
    /* background-color: rgb(56, 122, 122); */
}

/* 寄付確認タイトル */
#donate_confirm_lang {
  text-align: center;
  font-weight: 900;
  font-size: 3.5vw;
}

/* 寄付確認小箱 */
#donate_confirm_small_box {
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
  /* background-color: rgb(115, 255, 0); */
}


/* ーーーーーーーーー */
/* 小箱の中の各種項目 */
/* ーーーーーーーーー */

/* 小箱枠 */
#donate_confirm_small_box_contents {
  border: 2px solid rgb(93, 194, 162); /*borderの指定*/
  border-radius: 1vw;
  padding: 1.5vw 3vw 3vw 3vw;
  width: 30vw;
  /* background-color: rgb(105, 103, 42); */
  text-align: left;
  position: relative;
}
/* 各項目文字 */
.donate_confirm_item {
  font-weight: 500;
  font-size: 1.5vw;
}
/* 動物園名 */
#donate_confirm_zooname {
  font-weight: 700;
  font-size: 1.6vw;
}
/* 金額 */
#donate_confirm_money {
  font-weight: 700;
  font-size: 1.9vw;
}
/* 円 */
#donate_confirm_money_unit {
  font-weight: 700;
  font-size: 1.4vw;
}
/* サルイラスト */
#donate_confirm_img {
  width: 6.2vw;
  position: absolute;
  top: -0.3vw;
  right: 3vw;
}

/* 寄付確定ボタン */
#donate_confirm_btn {
  font-family: 'M PLUS Rounded 1c';
  text-decoration: none;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 0.3vw 1.5vw 0.4vw 1.5vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 109, 76);
  border: none;
  float: right;
  margin-top: 0.5vw;
}
#donate_confirm_btn:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(9, 109, 76);
}
#donate_confirm_btn:link {
  color: rgb(255, 255, 255);
  background-color: rgb(9, 109, 76);
}
#donate_confirm_btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 255, 170);
}

/* 寄付ページへ戻るリンク */
#donate_confirm_returnlink {
  text-decoration: none;
  color: rgb(145, 204, 186);
  font-size: 1.15vw;
}
#donate_confirm_returnlink:visited {
  color: rgb(145, 204, 186);
}
#donate_confirm_returnlink:link {
  color: rgb(145, 204, 186);
}
#donate_confirm_returnlink:hover {
  color: rgb(0, 255, 170);
}



/* 寄付履歴へ */
#donate_confirm_historypage_link {
  text-decoration: none;
  font-size: 14pt;
}

/* トップページへもどる */
#donate_confirm_returntop_link {
  text-decoration: none;
  font-size: 14pt;
}


