

/* 会員情報変更大箱 */
#edit_profile_large_box {
  margin: 0;
  padding: 0 100px 0 0;
  text-align: center;
}


/* 会員情報変更大箱 */
#edit_profile_lang {
  text-align: center;
  font-weight: 900;
  font-size: 3.5vw;
}

/* 会員情報変更小箱 */
#edit_profile_small_box {
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
  /* background-color: rgb(115, 255, 0); */
}

/* 会員情報変更小箱の中の小箱 */
#edit_profile_small_box_paper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  background-image: url("/static/img/mypage_back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* ーーーーーーーーー */
/* 小箱の中の各種項目 */
/* ーーーーーーーーー */

#edit_profile_small_box_lang {
  text-align: left;
  font-weight: 800;
  font-size: 1.3vw;
  margin: 0 auto;
  padding: 3vw 4vw 7vw 4.5vw;
  /* background-color: rgb(105, 103, 42); */
}

/* 入力案内文 */
#edit_profile_info {
  font-size: 1.4vw;
  text-align: center;
  color: #b78033;
  width: 50vw; /* または固定値 (例: 300px) */
  margin: 0 auto; /* 上下は0、左右は自動計算 */
}

/* 確認画面へボタン */
#edit_profile_changebutton {
  width: 10vw;
  height: 3vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  color: rgb(255, 255, 255);
  background-color: #b09876;
  font-family: 'M PLUS Rounded 1c';
  font-size: 1.3vw;
  font-weight: 500;
  display: flex;
  justify-content: center; /* 左右中央揃え */
  align-items: center;     /* 上下中央揃え */
  text-align: center;
  margin: 0 auto;
  outline: none;
  border: none;
}

#edit_profile_changebutton:visited {
  color: rgb(255, 255, 255);
}

#edit_profile_changebutton:hover {
  color: rgb(255, 255, 255);
}

#edit_profile_changebutton:hover {
  background-color: #b78033;
}





/* マイページへ */
#edit_profile_mypage_button {
  text-decoration: none;
  font-size: 14pt;
}


/* トップページへもどる */
#edit_profile_returntop_button {
  text-decoration: none;
  font-size: 14pt;
}


/* form内体裁 */

#edit_profile_form {
  padding-top: 1vw;
}

#edit_profile_form_name input, #edit_profile_form_birth input, 
#edit_profile_form_postalcode input, #edit_profile_form_address input, 
#edit_profile_form_phone input, #edit_profile_form_email input {
  font-family: 'M PLUS Rounded 1c';
  color: rgb(84, 62, 44);
  font-size: 1.2vw;
  height: 3vw;
  padding-left: 1.8vw;
  margin-top: -1vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  outline: none;
  border: none;
  /* background-color: blue; */
}


/* 名前入力form長さ */
#edit_profile_form_name input {
  width: 17vw;
}
/* 生年月日入力form長さ */
#edit_profile_form_birth input {
  width: 10vw;
  padding-right: 1.8vw;
}
/* 郵便番号入力form長さ */
#edit_profile_form_postalcode input {
  width: 7vw;
}
/* 住所入力form長さ */
#edit_profile_form_address input {
  width: 40vw;
}
/* メールアドレス入力form長さ */
#edit_profile_form_email input {
  width: 30vw;
}















.edit_profile_form_text {
  margin-top: 2vw;
  display:flex;
}

#edit_profile_form label {
  font-size: 1.6vw;
  width: 15vw;
}

#edit_profile_form_name_p {
  padding: 0 0 0 1vw;
  margin: 0 0 0.05vw 0;
  font-size: 1.3vw;
  margin-top: auto;
}
