
/* ーーーーーー */
/* 動物ボックス */
/* ーーーーーー */

/* 動物ボックスランキング部分も入っている外の大枠 */
#index_mainbox_large {
  display: flex;
  margin-top: 25px;
}

/* 動物の写真とボタンと文字まで入っている外の大枠 */
#index_mainbox {
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-wrap: wrap;
  flex: 1; */
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  /* background-color: rgb(255, 47, 0); */
}

/* 動物の写真とボタンと文字まで入っている内側の枠（動物ID振ってある） */
#index_animal_box {
  margin-right: 5px;
  /* position: relative; */
}

/* 動物の写真とボタンが入っている枠 */
#index_amimal_photobutton_box {
  position: relative;
}

/* 動物の写真が入っている枠 */
#index_amimal_photo_box {
  aspect-ratio: 4 / 3;
  position: relative;
  margin-right: 10px;
  border-radius: 12% 42% 17% 21% / 45% 9% 33% 17%;
  background:none;
  text-transform:uppercase;
  cursor:pointer;
}
/* 動物写真 */
#index_amimal_photo_box img {
  object-position: 50% 40%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 19% 42% 17% 21% / 45% 25% 33% 17%;
}

/* 動物写真枠後ろの色部分基本の after 共通設定 */
#index_amimal_photo_box:after,
#index_amimal_photo_box.zoo-1:after,
#index_amimal_photo_box.zoo-2:after,
#index_amimal_photo_box.zoo-3:after {
  position: absolute;
  top:2px;
  left:-8px;
  content:"";
  height:100%;
  width:100%;
  z-index:-999;
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(0deg);
     border-radius: 17% 26% 17% 21% / 26% 22% 33% 17%;
}
/* zoo_id = 1 の色 */
#index_amimal_photo_box.zoo-1:after {
  background: rgb(156, 201, 166); /* 緑 */
}
/* zoo_id = 2 の色 */
#index_amimal_photo_box.zoo-2:after {
  background: rgb(250, 207, 207); /* 青の例 */
}
/* zoo_id = 3 の色 */
#index_amimal_photo_box.zoo-3:after {
  background: rgb(255, 240, 174); /* オレンジの例 */
}

/* 各種ボタン入りボタンボックス */
#index_button_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 推されポイント表示 */
#index_oshii-badge {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0;
  top: 3%;
  left: 13%;
}
#index_oshii-badge_lang {
  font-size: 17pt;
  font-weight: 900;
  margin: 0 5px -3px 0;
  padding: 0;
  color: rgb(255, 255, 255);
  /* opacity: 0.8; */
}
#index_point {
  font-size: 19pt;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding: 0;
  margin: 0;
  /* opacity: 0.8; */
}
/* #index_oshii-badge.shine::after {
  animation: index-shineMove 0.7s ease forwards;
} */

/* 推しハートボタン */
#index_push-btn {
  position: absolute;
  top: 60%;
  left: -5%;
  border: none;
  background-color: transparent;
  position: relative; /* 変化のため必要 */
  cursor: pointer;
  width: 42%;
}
#index_push-btn img {
  width: 100%;
}

#index_push-btn:hover {
  transform: scale(1.08);
  transition: all 0.1s ease-in-out; /* アニメーションを滑らかに */
}

#index_push-btn:active {
  top: 2px; /* 少し下に沈ませる */
  transition: all 0.6s ease-in-out; /* アニメーションを滑らかに */
}

/* 飛ぶハート（.index 内に追加される前提） */
.index_heart {
  position: fixed;
  left: 0;
  top: 0;
  animation: heart-float 3s ease-out forwards;
  pointer-events: none;
  z-index: 5;
  will-change: transform, opacity;
}

@keyframes heart-float {
  0%   { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  70%  { opacity: 1; transform: translate(-50%, -150%) scale(1.15); }
  100% { opacity: 0; transform: translate(-50%, -180%) scale(1.25); } /* ←消したいなら0に */
}

.rank-up {
  color: #e5ff00;
  font-weight: bold;
  font-size: 2vw;
  animation: flyUp 1.2s ease-out forwards;
}

.flash {
  color: rgb(255, 230, 0) !important;
  transform: scale(1.15);
  transition: 0.05s;
}

.flash-heart {
  color: rgb(255, 230, 0) !important;
  transform: scale(1.2);
  transition: 0.05s;
}

.sparkle-effect {
  width: 40px;
  transform: translate(-50%, -50%) scale(0.2);
  animation: sparkleBurst 2s ease-out forwards;
}

@keyframes sparkleBurst {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2) rotate(0deg);
  }

  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.6) rotate(15deg);
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2.4) rotate(30deg);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3.2) rotate(45deg);
  }
}


/* もっと詳しくボタン */

#index_intro-btn_box {
  position: absolute;
  right: 0%;
  top: 75%;
  width: 55%;
}
#index_intro-btn img {
  width: 100%;
}

#index_intro-btn_box:hover {
  transform: scale(1.04);
}

/* 担当ボタン */
#index_oshi-label {
  position: absolute;
  top: -18%;
  right: -3%;
  width: 45%;
  transform: rotate(-25deg);
}

#index_oshi-label_hidden {
  position: absolute;
  visibility: hidden;
  top: -18%;
  right: -3%;
  width: 45%;
  transform: rotate(-25deg);
}

/* 動物の名前等各種文字 */

#index_amnimal_datalang {
  text-align: right;
  padding-right: 18px;
}

#index_animal_nameagegenlang {
  margin: 0;
  padding: 0;
}

/* 動物名 */
#index_animal_namelang {
  font-family: 'Zen Kurenaido';
  font-size: 16pt;
  font-weight: 900;
  display: inline-block; /* インライン要素に幅を指定できるようにする */
  -webkit-text-stroke: 0.4px rgb(84, 62, 44);
  paint-order: stroke fill;
  margin: 2px 0px -10px 0;
  padding: 0;
}
#index_animal_namelang_a:visited {
  color: rgb(84, 62, 44);
  -webkit-text-stroke: 0.4px rgb(84, 62, 44);
}
#index_animal_namelang_a:link {
  color: rgb(84, 62, 44);
  -webkit-text-stroke: 0.4px rgb(84, 62, 44);
}
#index_animal_namelang_a:hover {
  color: #b78033;
  -webkit-text-stroke: 0.4px #b78033;
}

/* 動物名の後のさん付け */
#index_animal-namegenderlang {
  font-family: 'Zen Kurenaido';
  font-size: 12pt;
  -webkit-text-stroke: 0.3px rgb(84, 62, 44);
  paint-order: stroke fill;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

/* 動物の種別名 */
#index_animal_typelang {
  margin: -3px 0 10px 0;
  padding: 0;
  font-size: 11pt;
  font-weight: 700;
}



/* ーーーーーーーーー */
/* ランキングボックス */
/* ーーーーーーーーー */

/* ランキングボックス大枠 */

#index_ranking_box {
  width: 220px;
  padding: 0 100px 0 0;
  color: rgb(237, 179, 41);
}

#index_animal_top10 {
  margin-left: -15px;
  padding: 0;
  text-align: center;
  width: 210px;
}

/* 右ランキング内※インクルード物 */

/* ランキングボックス内側 */
#index_animal_ranking_sidebar {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 180px;
  padding: 40px 20px 50px 25px;
  background-image: url("/static/img/ranking_background.png");
  background-size: cover;
  /* border-radius: 18% 13% 10% 12% / 3% 6% 6% 10%; */
  /* 追従 */
  /* position: sticky; */
  bottom: 0;
}

/* ランキング内タイトル文字 */
#index_ranking_title {
  font-size: 17pt;
  color: rgb(237, 179, 41);
  margin-top: 0px;
  margin-bottom: 0px;
}

#index_animal_ranking_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#index_animal_ranking_list li {
  display: flex;
  padding: 15px 0 0 0;
}

/* ランキングナンバー */
.index_rank_number {
  font-weight: 900;
  color: rgb(237, 179, 41); 
  font-size: 27pt;
  padding: 0;
  margin: -7px 0 -25px 0;
}

/* ランキングナンバーの横の線 */
#index_ranking_num_underline {
  border: none;
  margin: 0 55px 0 32px;
  padding: 0;
  border-top: 1.5px solid rgb(237, 179, 41);
}

#index_ranking_num_underline_02 {
  border: none;
  margin: 0 60px 0 55px;
  padding: 0;
  border-top: 1.5px solid rgb(237, 179, 41);
}

/* ランキング内名前と動物名要素 */
.index_rank_info {
  flex: 1;
  line-height: 1.0;
  text-align: left;
  margin-right: 10px;
  width: 155px;
}

/* ランキング内動物名前 */
.index_rank_link_name {
  color: rgb(181, 114, 14);
  text-decoration: none;
}
.index_rank_link_name:visited {
  color: rgb(181, 114, 14);
}
.index_rank_link_name:link {
  color: rgb(181, 114, 14);
}
.index_rank_link_name:hover {
  color: rgb(90, 58, 6);
}

/* ランキング内動物名前のみ */
#index_rank_link_name_name {
  font-size: 12pt;
  font-weight: 700;
}

/* ランキング内動物名前さん付け */
#index_animal-namegenderlang_ranking {
  font-size: 8px;
  font-weight: 700;
  margin-left: -3px;
}

/* ランキング内動物種類 */
.index_rank_japanese { 
  color: rgb(237, 179, 41);
  font-size: 7.5pt;
  margin: 2px 0 0 0;
  padding: 0;
  font-weight: 700;
}

/* ランキング内動物写真ボックス */
.index_rank_img_box {
  position: relative;
  aspect-ratio: 4 / 4.5;
  width: 55px;
  border-radius: 5px;
  overflow: hidden;
  top: -33px;
  margin-bottom: -23px;
}

/* ランキング内動物写真 */
.index_rank_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 45%;
  display: block;
  transform: scale(1.4);
  transform-origin: center 20%;
}

