
#look_large_box {
  margin: 0 130px 0 0;
  text-align: center;
}


.live-box {
  margin-bottom: 40px;
}

.yt-link {
  display: inline-block;
  margin-top: 8px;
  color: #006633;
  font-weight: bold;
  text-decoration: none;
}



#look_returntop_button a {
  text-decoration: none;
  font-size: 14pt;
}
