

/* グッズ交換履歴大箱 */
#order_history_large_box {
  margin: 0;
  padding: 0 140px 0 0;
  text-align: center;
}


/* グッズ交換履歴大箱 */
#order_history_lang {
  text-align: center;
  font-weight: 900;
  font-size: 3.5vw;
}

/* グッズ交換履歴小箱 */
#order_history_small_box {
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
  /* background-color: rgb(115, 255, 0); */
}

/* ーーーー */
/* 小箱の中 */
/* ーーーー */

#order_history_small_box_lang {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  /* background-color: rgb(105, 103, 42); */
}

/* ーーーーーーーーーーー */
/* グッズ交換履歴テーブル */
/* ーーーーーーーーーーー */

/* テーブル外周り */
#order_history_table {
  width: 69vw;
  border-collapse: collapse;
  border-spacing: 0;
}
.order_history_table_text {
  padding: 0.7vw 0 0.7vw 0;
  border-bottom: solid 3px rgb(182, 170, 161);
  color: rgb(182, 170, 161);
}
.order_history_table_num, #order_history_table_num_02, 
#order_history_table_num_03 {
  padding: 0.7vw 0 0.7vw 0;
  border-bottom: solid 1px rgb(182, 170, 161);
}
#order_history_table_text_day {
  padding: 0.7vw 0 0.7vw 0;
  border-bottom: solid 1px rgb(182, 170, 161);
}



/* 項目の文字 */
.order_history_table_text {
  font-weight: 700;
  font-size: 1.2vw;
  padding-left: 2vw;
}


/* 各数字など内容 */
.order_history_table_num {
  font-weight: 500;
  font-size: 1.2vw;
  padding-left: 2vw;
}
#order_history_table_num_02 {
  font-weight: 500;
  font-size: 1vw;
  padding-left: 2vw;
  width: 9vw;
}
#order_history_table_num_03 {
  font-weight: 500;
  font-size: 1.2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 7.5vw;
}
#order_history_table_text_day {
  font-weight: 500;
  font-size: 1vw;
  padding-left: 2vw;
}
/* 詳細をみるリンク */
.order_history_table_num a {
  text-decoration: none;
  font-size: 1.1vw;
  color: #b09876;
}
#order_history_table_num_a_02 {
  color: rgb(84, 62, 44);
}
.order_history_table_num a:link {
  color: #b09876;
}
#order_history_table_num_a_02:link {
  color: rgb(84, 62, 44)
}
.order_history_table_num a:visited {
  color: #b09876;
}
#order_history_table_num_a_02:visited {
  color: rgb(84, 62, 44);
}
.order_history_table_num a:hover {
  color: #b78033;
}
#order_history_table_num_a_02:hover {
  color: #b78033;
}


/* 未発送・発送済・キャンセル */
#order_history_table_notyet, #order_history_table_done, 
#order_history_table_cancell {
  font-size: 1vw;
}
#order_history_table_notyet {
  color: #c0392b;
}

/* 各単位 */
.order_history_table_unit {
  font-weight: 400;
  font-size: 1vw;
}





/* キャンセルするボタン */
#order_history_cancell_button {
  width: 7.5vw;
  height: 2vw;
  font-family: 'M PLUS Rounded 1c';
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  color: rgb(255, 255, 255);
  background-color: #c0392b;
  font-size: 0.85vw;
  font-weight: 500;
  float: right;
  display: flex;
  justify-content: center; /* 左右中央揃え */
  align-items: center;     /* 上下中央揃え */
  text-align: center;
  outline: none;
  border: none;
}

#order_history_cancell_button:visited {
  color: rgb(255, 255, 255);
}

#order_history_cancell_button:hover {
  color: rgb(255, 255, 255);
}

#order_history_cancell_button:hover {
  background-color: #ff4d39;
}



/* マイページへ */
#order_history_mypage_link {
  text-decoration: none;
  font-size: 14pt;
}

/* トップページへもどる */
#order_history_returntop_link {
  text-decoration: none;
  font-size: 14pt;
}