
/* サブスクプラン大箱 */
#plan_list_large_box {
  margin: 0;
  padding: 0 100px 0 0;
  text-align: center;
  color: rgb(15, 88, 37);
  background-color: rgb(255, 230, 0);
}

/* サブスクプランタイトル */
#plan_list_lang {
  text-align: center;
  font-weight: 900;
  font-size: 2.7vw;
  padding-bottom: 2vw;
}

/* サブスクプラン小箱 */
#plan_list_small_box {
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
  background-color: rgb(115, 255, 0);
}

/* サブスクプラン小箱の中の小箱 */
#plan_list_small_box_border {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  border: 2px solid rgb(172, 200, 180); /*borderの指定*/
  border-radius: 1vw;
  background-color: rgb(255, 72, 0);
  width: 45vw;
}

/* サブスクプラン小箱の中の小箱の小箱（注文内容テーブル） */
#plan_list_small_box_lang {
  text-align: left;
  font-weight: 800;
  font-size: 1.3vw;
  padding: 3vw 3vw 3vw 3vw;
  width: 100%;
  color: rgb(15, 88, 37);
  /* background-color: rgb(105, 103, 42); */
}

/* ーーーーーーーーー */
/* 小箱の中の各種項目 */
/* ーーーーーーーーー */

/* プラン繰り返しのli */
#plan_list_box {
  display: flex;
}
/* 各コース名 */

/* 返礼品サブスクの金額 */
#plan_list_course {
  margin: -0.5vw auto 1vw auto;
  padding: 0.1vw 1.5vw 0.1vw 1.5vw;
  width: 8vw;
  height: 1.7vw;
  border-radius: 20% 15% 20% 10% / 39% 59% 39% 45% ;
  /* background-color: rgb(17, 226, 101); */
  display: flex;
  justify-content: center; /* 左右中央揃え */
  align-items: center;     /* 上下中央揃え */
  text-align: center;
  position: relative;
}















/* グッズページへ戻る */
#plan_list_animalpage_link {
  text-decoration: none;
  font-size: 14pt;
}

/* トップページへもどる */
#plan_list_returntop_link {
  text-decoration: none;
  font-size: 14pt;
}