


/* チアコイン購入履歴大箱 */
#purchase_history_large_box {
  margin: 0;
  padding: 0 100px 0 0;
  text-align: center;
}


/* チアコイン購入履歴大箱 */
#purchase_history_lang {
  text-align: center;
  font-weight: 900;
  font-size: 3.5vw;
}

/* チアコイン購入履歴小箱 */
#purchase_history_small_box {
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
  /* background-color: rgb(115, 255, 0); */
}

/* ーーーー */
/* 小箱の中 */
/* ーーーー */

#purchase_history_small_box_lang {
  text-align: left;
  font-weight: 800;
  font-size: 1.3vw;
  margin: 0 auto;
  padding: 0;
  /* background-color: rgb(105, 103, 42); */
}

/* ーーーーーーーーーーー */
/* チアコ購入履歴テーブル */
/* ーーーーーーーーーーー */

/* テーブル外周り */
#purchase_history_table {
  width: 45vw;
  border-collapse: collapse;
  border-spacing: 0;
}
.purchase_history_table_text {
  padding: 0.5vw;
  border-bottom: solid 3px rgb(182, 170, 161);
  color: rgb(182, 170, 161);
}
.purchase_history_table_num {
  padding: 0.6vw;
  border-bottom: solid 1px rgb(182, 170, 161);
}

/* 項目の文字 */
.purchase_history_table_text {
  font-weight: 700;
  font-size: 1.5vw;
  padding-left: 3.3vw;
}

/* 各数字 */
.purchase_history_table_num {
  font-weight: 500;
  font-size: 1.6vw;
  padding-left: 3.3vw;
}
#purchase_history_table_day {
  font-size: 1.2vw;
  padding-left: 0.1vw;
}

/* 各単位 */
.purchase_history_table_unit {
  font-weight: 400;
  font-size: 1.2vw;
}



/* マイページへ */
#purchase_history_mypage_link {
  text-decoration: none;
  font-size: 14pt;
}

/* トップページへもどる */
#purchase_history_returntop_link {
  text-decoration: none;
  font-size: 14pt;
}