
/* ランキング外枠大箱 */

#rankig_box_big_all {
  margin: 0 140px 0 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c';
  /* width: 100%; */
  /* background-color: #007bff; */
}

/* ランキング1-3大箱 */
#rankig_box_large_1to3 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 40vw;
  width: 100%;
  /* background-color: #c037ab; */
}

/* ランキング1-3中箱 ※1が入 */
#rank_box_middle_1to3_01 {
  height: 100%;
  position: relative;
}


/* ランキング1内箱写真入 */
/* 写真 */
#rank_img_box_1 {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

#rank_img_1 {
  position: absolute;
  object-position: 50% 30%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}


/* ランキング1内写真以外の箱 */

/* 順位1位の文字箱 */
#rank_num_box_1 {
  position: absolute;
  top: 58%;
  left: 0%;
  background-color: #000000;
  width: 8vw;
  height: 18%;
  text-align: center;
}


#rank_1_num {
  position: absolute;
  top: -7%;
  left: 6%;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 7vw;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

#rank_1_num_rank {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 3vw;
  position: absolute;
  top: 36%;
}

/* 名前文字 */
#rank_1_animalname {
  position: absolute;
  font-weight: 900;
  font-size: 3.3vw;
  bottom: 1.5%;
  left: 2%;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_animal-namegenderlang_1 {
  font-size: 1.8vw;
}

/* 種別文字 */
#rank_1_animaltype {
  position: absolute;
  font-weight: 900;
  font-size: 1.7vw;
  bottom: 1%;
  left: 2%;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 推しポイント文字 */
#rank_1_pointlang {
  position: absolute;
  font-size: 30pt;
  top: 0px;
  left: 15px;
  color: #ffffff;
}


/* ランキング1-3中箱 ※2-3が入 */
#rank_box_middle_1to3_02 {
  position: relative;
  height: 100%;
}

/* ランキング1-3中箱の中の2-3が入っている中の小箱 */
#rank_box_middle_2to3 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#rank_box_small_2, #rank_box_small_3 {
  flex-grow: 1;
}


/* 2-3が入っている中の小箱内写真箱 */

#rank_img_large_box_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

#rank_img_large_box_3 {
  position: absolute;
  top: 250;
  left: 0;
  width: 100%;
  height: 50%;
}

#rank_img_box_2, #rank_img_box_3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

#rank_img_2, #rank_img_3 {
  object-position: 50% 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}


/* 2-3が入っている中の小箱内写真以外の箱 */

/* 順位2位の文字箱 */
#rank_num_box_2 {
  position: absolute;
  top: 125px;
  left: 0px;
  background-color: #000000;
  width: 100px;
  height: 13%;
}

#rank_2_num {
  text-align: center;
  top: 80%;
  transform: translate(0, -80%); /* 要素自身の半分の位置を上にずらす */
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 61pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

#rank_2_num_rank {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 23pt;
}

/* 順位2位の名前・種類・ポイント */
#rank_2_animalname {
  position: absolute;
  font-weight: 900;
  font-size: 23pt;
  bottom: 315px;
  left: 15px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_animal-namegenderlang_2 {
  font-size: 13pt;
}

#rank_2_animaltype {
  position: absolute;
  font-weight: 900;
  font-size: 15pt;
  bottom: 304px;
  left: 15px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_2_pointlang {
  position: absolute;
  left: 20px;
  top: 5px;
}

/* 順位3位の文字箱 */

#rank_num_box_3 {
  position: absolute;
  top: 425px;
  left: 0px;
  background-color: #000000;
  width: 100px;
  height: 13%;
}

#rank_3_num {
  text-align: center;
  top: 80%;
  transform: translate(0, -80%); /* 要素自身の半分の位置を上にずらす */
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 61pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

#rank_3_num_rank {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 23pt;
}


/* 順位3位の名前・種類・ポイント */
#rank_3_animalname {
  position: absolute;
  font-weight: 900;
  font-size: 23pt;
  bottom: 15px;
  left: 15px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_animal-namegenderlang_3 {
  font-size: 13pt;
}

#rank_3_animaltype {
  position: absolute;
  font-weight: 900;
  font-size: 15pt;
  bottom: 4px;
  left: 15px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_3_pointlang {
  position: absolute;
  left: 20px;
  top: 305px;
}


/* ランキング4-6大箱 */
#rank_box_middle_4to6 {
  display: flex;
  height: 20vw;
}

/* ランキング4-6小箱 */
#rank_box_small_4to6 {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング4-6画像 */
#rank_img_4to6 {
  object-position: 50% 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング4-6中箱の中の順位・名前・種類・ポイント */
#rank_num_box_4to6 {
  position: absolute;
  top: 143px;
  left: 0px;
  background-color: #000000;
  width: 90px;
  height: 23%;
}

#rank_4to6_num {
  text-align: center;
  top: 77%;
  transform: translate(0, -77%); /* 要素自身の半分の位置を上にずらす */
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 52pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

#rank_4to6_num_rank {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 17pt;
}

#rank_4to6_animalname {
  position: absolute;
  font-weight: 900;
  font-size: 18pt;
  left: 15px;
  bottom: 23px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_animal-namegenderlang_4to6 {
  font-size: 13pt;
}

#rank_4to6_animaltype {
  position: absolute;
  font-weight: 900;
  font-size: 16px;
  left: 15px;
  bottom: 13px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_4to6_pointlang {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #c037ab;
}




/* ランキング7-10大箱 */
#rank_box_middle_7to10 {
  display: flex;
  height: 18vw;
}

/* ランキング7-10小箱 */
#rank_box_small_7to10 {
  flex: 1;
  /* background-color: #007bff; */
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング7-10画像 */
#rank_img_7to10 {
  object-position: 50% 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング7-10中箱の中の順位・名前・種類・ポイント */
#rank_num_box_7to10 {
  position: absolute;
  top: 165px;
  left: 0px;
  background-color: #000000;
  width: 90px;
  height: 18%;
}

#rank_7to10_num {
  text-align: center;
  top: 77%;
  transform: translate(0, -77%); /* 要素自身の半分の位置を上にずらす */
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 40pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

#rank_7to10_num_rank {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 14pt;
}

#rank_7to10_animalname {
  position: absolute;
  font-weight: 900;
  font-size: 15pt;
  left: 15px;
  bottom: 25px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_animal-namegenderlang_7to10 {
  font-size: 10pt;
}

#rank_7to10_animaltype {
  position: absolute;
  font-weight: 900;
  font-size: 15px;
  left: 15px;
  bottom: 11px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_7to10_pointlang {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #c037ab;
}


/* ランキング11-15と16-20の大箱 */
#rank_box_middle_11to15, #rank_box_middle_16to20 {
  display: flex;
  height: 17vw;
}

/* ランキング11-15と16-20の小箱 */
#rank_box_small_11to15, #rank_box_small_16to20 {
  flex: 1;
  /* background-color: #007bff; */
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング11-15と16-20の画像 */
#rank_img_11to15, #rank_img_16to20 {
  object-position: 50% 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング11-15と16-20の順位・名前・種類・ポイント */

#rank_num_box_11to15, #rank_num_box_16to20 {
  position: absolute;
  top: 140px;
  left: 0px;
  background-color: #000000;
  width: 79px;
  height: 18%;
}

#rank_11to15_num, #rank_16to20_num {
  text-align: center;
  top: 75.3%;
  transform: translate(0, -75.3%); /* 要素自身の半分の位置を上にずらす */
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 32pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

#rank_11to15_num_rank, #rank_16to20_num_rank {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 10pt;
}

#rank_11to15_animalname, #rank_16to20_animalname {
  position: absolute;
  font-weight: 900;
  font-size: 13pt;
  left: 15px;
  bottom: 20px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rank_animal-namegenderlang_11to15, #rank_animal-namegenderlang_16to20 {
  font-size: 9pt;
}

#rank_11to15_animaltype {
  position: absolute;
  font-weight: 900;
  font-size: 13px;
  left: 15px;
  bottom: 9px;
  color: #ffffff;
}

#rank_11to15_pointlang, #rank_16to20_pointlang {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #c037ab;
}
















/* ランキング21-大箱 */
#rank_box_middle_21to {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-right: 120px;
}

/* ランキング21-小箱 */
#rank_box_small_21to {
  position: relative;
  width: 100%;
  height: 14vw;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング21-画像 */
#rank_img_21to {
  object-position: 50% 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  outline: 6px solid rgb(0, 0, 0);/*outlineで線を追加*/
  outline-offset: -3px;/*outline-offsetの値を-6pxにして内側に調整*/
}

/* ランキング21-中箱の中の順位・名前・種類・ポイント */
#rank_num_box_21to {
  position: absolute;
  top: 0;
  left: 20px;
  width: 50%;
  height: 27%;
  background-color: #007bff;
}

#rank_21to_num {
  font-family: 'Rubik';
}

#rank_21to_animalname {
  position: absolute;
  top: 50;
  left: 20px;
}

#rank_21to_animaltype {
  position: absolute;
  top: 300;
  left: 20px;
  color: #7969ac;
}

#rank_21to_pointlang {
  position: absolute;
  top: 40px;
  left: 20px;
  color: #c037ab;
}








/* ページネーション */

.pagination {
    text-align: center;
    list-style: none;
    padding-right: 140px;
    margin: 50px 0;
    font-size: 1.2rem;
}
.pagination a,
.pagination .current,
.pagination .dots,
.pagination .disabled {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    color: #007bff;
    min-width: 45px;
    text-align: center;
}

.pagination a:hover {
    text-decoration: none;
    background-color: #f4f4f4;
}

.pagination .current {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination .dots {
    color: #999;
    border: none;
    font-weight: normal;
}
/* 無効化された「前へ」「次へ」 */
.pagination .disabled {
    color: #ccc;
    border-color: #eee;
}



/* トップページへ戻る項目 */

#ranking_returntop_button {
  margin: 0 140px 0 0;
  text-align: center;
}

#ranking_returntop_button a {
  text-decoration: none;
  font-size: 14pt;
}