

/* アニマルマニアのしくみ外箱部分 */

#structure_mainbox {
  margin: 0 130px 0 0;
  padding: 100px 0 50px 0;
  text-align: center;
}

/* アニマルマニアのしくみ・チアコ・スタポタイトル部分 */

#structure_sentence_01_headline {
  font-weight: 800;
  font-size: 3.2vw;
}

#structure_sentence_02_headline,
#structure_sentence_03_headline {
  width: 28%;
  margin-bottom: 20px;
}

/* アニマルマニアのしくみ・チアコ・スタポ文章部分 */

#structure_sentence_01_main, #structure_sentence_02_main,
#structure_sentence_03_main {
  font-size: 1.3vw;
}

/* アニマルマニアのしくみ画像 */

/* 推しボタン画像 */
#structure_sentence_01_pic_01 {
  padding: 0;
  margin: 50px 0 0 0;
  width: 11%;
}

/* ポイント上昇画像 */
#structure_sentence_01_pic_02 {
  margin: 14px 0 10px 0;
  width: 20%;
}

/* アシカと飼育員画像 */
#structure_sentence_01_pic_03 {
  margin-left: -20px;
  margin-bottom: 110px;
  width: 23%;
}

/* チアコ説明外箱 */
#structure_sentence_02 {
  margin-bottom: 60px;
}

/* チアコとは？の中のチアコ説明画像 */
#structure_sentence_02_pic {
  margin-bottom: 60px;
  width: 60%;
}


/* スタポとは？のスタポ説明画像 */
#structure_sentence_03_pic_01 {
  margin-bottom: 40px;
  width: 53%;
}
/* 動物画像 */
#structure_sentence_03_pic_02 {
  margin-bottom: 40px;
  width: 70%;
}

/* ▶チアコを買う・▶トップページへ戻る */
#structure_chiaco_link, #structure_returntop_link {
  text-decoration: none;
  font-size: 14pt;
}