

#structure_mainbox {
  margin: 0;
  padding: 0;
}

#structure_mainbox_02 {
    padding-top: 100px;
    text-align: center;
    margin: 0 0 0 -100px;
}

 


.yellow {
    width: 400px;
    height: 300px;
  position:relative;
  margin:10px;
  display:inline-block;
  border-radius: 12% 42% 17% 21% / 45% 9% 33% 17%;

  /* border:1px solid #29c665; */
  background:none;
  text-transform:uppercase;
  font-family:sans-serif;
  font-size:11px;
  font-weight:800;
  letter-spacing:1px;
  cursor:pointer;
}

.yellow:after {
  position: absolute;
  top:2px;
  left:-4px;
  content:"";
  height:100%;
  width:100%;
  z-index:-999;
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(0deg);
     border-radius: 12% 42% 17% 21% / 45% 9% 33% 17%;
}

.yellow:after { background:#29c665; }

.yellow_photo {
    border-radius: 12% 42% 17% 21% / 45% 25% 33% 17%;
}