
#structure_mainbox {
  margin: 0 0 0 -100px;
  padding: 100px 0 50px 0;
  text-align: center;
}

#structure_sentence_01_headline {
  font-weight: 800;
  font-size: 38pt;
}

#structure_sentence_02_headline,
#structure_sentence_03_headline {
  width: 340px;
}

#structure_sentence_01_main, #structure_sentence_02_main,
#structure_sentence_03_main {
  font-size: 16pt;
}

#structure_sentence_01_pic_01 {
  padding: 0;
  margin: 50px 0 0 0;
}

#structure_sentence_01_pic_02 {
  margin: 14px 0 10px 0;
}

#structure_sentence_01_pic_03 {
  margin-left: -20px;
  margin-bottom: 110px;
}

#structure_sentence_02_pic {
  margin-bottom: 60px;
}

#structure_sentence_02_headline, 
#structure_sentence_03_headline {
  margin-bottom: 20px;
}

#structure_sentence_03_pic_01 {
  margin-bottom: 40px;
}