{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <img src="{% static 'img/animalmania_logo.png' %}" class="logo-img">
        </div>
        
        <div class="right-side">
            <div class="login-box">

                {% if messages %}
                    <div class="error-messages">
                        {% for message in messages %}
                            <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <form id="login-form" action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="ユーザー名" class="input-field">
                    <input type="password" name="password" placeholder="パスワード" class="input-field">

                    <button type="submit" class="login-button">ログイン</button>
                    <a href="{% url 'accounts:password_reset' %}">パスワードをお忘れの方はこちら</a>


                </form>

                <div class="divider"></div>

                <a href="{% url 'accounts:signup' %}">
                    <button type="button" class="signup-button">新規登録</button>
                </a>

            </div>
        </div>
    </div>
</body>
</html>
