{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            デザイン
        </div>
        
        <div class="right-side">
            <!--ここから-->
            <div class="login-header">
                ログイン
                <div class="arrow-icon"></div>
                <span class="fullscreen-icon">⛶</span>
            </div>
            <!--ここまで　消すかも？-->

            <div class="login-box">
                <form id="login-form" action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="ユーザー名" class="input-field">
                    <input type="password" name="password" placeholder="パスワード" class="input-field">

                    <button type="submit" class="login-button">ログイン</button>
                </form>


                <div class="divider"></div>

                <a href="{% url 'accounts:signup' %}">
                    <button type="button" class="signup-button">新規登録</button>
                </a>

            </div>
        </div>
    </div>
</body>
</html>