{% extends 'common/base.html' %}
{% block content %}
<h2>マイページ</h2>

<p>ユーザー名: {{ user.username }}</p>
<p>名前: {{ user.name }}</p>
<p>生年月日: {{ user.birth }}</p>
<p>郵便番号: {{ user.postal_code }}</p>
<p>住所: {{ user.address }}</p>
<p>電話番号: {{ user.phone }}</p>
<p>メール: {{ user.email }}</p>

{% if user.wallet %}
    <p><strong>チアコ:</strong> {{ user.wallet.cheer_coin_balance }}</p>
    <p><strong>スタポ:</strong> {{ user.wallet.stanning_point_balance }}</p>
{% endif %}

<a href="{% url 'money:purchase_history' %}">購入履歴を見る</a><br>
<a href="{% url 'goods:order_history' %}">交換履歴を見る</a><br>
<br>
<a href="{% url 'accounts:password_reset' %}">パスワード変更はこちら</a><br>
<a href="{% url 'accounts:logout' %}">ログアウト</a><br

{% endblock %}
