{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更完了</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="container">

    <div class="left-side">
        <img src="{% static 'img/animalmania_logo.png' %}" class="logo-img">
        <img src="{% static 'img/Ailurus_fulgens.png' %}" class="left-illustration-top">
        <img src="{% static 'img/kaba.png' %}" class="left-illustration-bottom">
    </div>

    <div class="right-side">
        <div class="login-box">
            <h2>パスワード変更完了</h2>
            <p>パスワードの変更が完了しました。</p>

            <a href="{% url 'accounts:mypage' %}">
                <button class="login-button">マイページへ</button>
            </a>
        </div>
    </div>

</div>

</body>
</html>
