{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新しいパスワード設定</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
    <div class="left-side">
        <img src="{% static 'img/animalmania_logo.png' %}" class="logo-img">
    </div>

    <div class="right-side">
        <div class="login-box">
            <h2>新しいパスワード設定</h2>

            {% if validlink %}
            <form method="post" >
                {% csrf_token %}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
                <input type="password" name="new_password1" class="input-field" placeholder="新しいパスワード" required pattern="(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[!@#$%^&*]).{8,}" title="英字・数字・記号を含む8文字以上で入力してください">
                <input type="password" name="new_password2" class="input-field" placeholder="パスワード（確認）" required>
                <button type="submit" class="login-button">変更を保存</button>
            </form>
            {% else %}
            <p>リンクの有効期限が切れています。<br>もう一度リセットを行ってください。</p>
            <a href="{% url 'accounts:password_reset' %}">
                <button type="button" class="signup-button">再度リセットする</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>

