{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メール送信完了</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
    <div class="left-side">
        <img src="{% static 'img/animalmania_logo.png' %}" class="logo-img">
    </div>

    <div class="right-side">
        <div class="login-box">
            <h2>メール送信完了</h2>
            <p>ご登録のメールアドレス宛に、パスワード再設定用のリンクを送信しました。<br>
               メールをご確認ください。</p>
            <div class="divider"></div>
            <a href="{% url 'accounts:login' %}">
                <button type="button" class="signup-button">ログイン画面へ戻る</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
