{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード再設定</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
    <div class="left-side">
        <img src="{% static 'img/animalmania_logo_kari.png' %}" class="logo-img">
    </div>

    <div class="right-side">
        <div class="login-box">
            <h2>パスワード再設定</h2>
            <p>登録されているメールアドレスを入力してください。<br>
            パスワード再設定用のリンクをお送りします。</p>

            <form method="post">
                {% csrf_token %}
                {{ form.email.errors }}
                <input type="email" name="email" class="input-field" placeholder="メールアドレス" required>
                <button type="submit" class="login-button">送信</button>
            </form>

            <div class="divider"></div>
            <a href="{% url 'accounts:login' %}">
                <button type="button" class="signup-button">ログインに戻る</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
