{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}アニマルマニア{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="#">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

    </head>

    <body>
        <div id="main_body">
            <div id="main_left">
                <img class="main_left_image" src="{% static 'img/animalmania_logo_kari.png' %}" alt="animalmania_logo_kari" 
                oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;">
                <nav>
                    <ul>
                        <li><a href="{% url 'main:index' %}">トップ</a></li>
                        <li><a href="{% url 'pages:about' %}">アバウト</a></li>
                        <li><a href="{% url 'ranking:index' %}">動物ランキング</a></li>
                        <li><a href="#">LIVE動画</a></li>
                        <li><a href="{% url 'money:charge' %}">チアコを買う</a></li>
                        <li><a href="{% url 'goods:list' %}">グッズ交換</a></li>
                        <li><a href="/animals/1/">動物紹介制作閲覧用</a></li>
                    </ul>
                </nav>
            </div>

            <div id="main_center">
                <main>
                    {% block content %}{% endblock %}
                </main>
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
            </div>

            <div id="main_right">
                あきた
            </div>


        </div>

        <footer>
            <div id="footer_nav">
                <ul>
                    <li><a href="{% url 'main:index' %}">トップ</a></li>
                    <li><a href="{% url 'pages:about' %}">アバウト</a></li>
                    <li><a href="{% url 'ranking:index' %}">動物ランキング</a></li>
                    <li><a href="#">LIVE動画</a></li>
                    <li><a href="{% url 'money:charge' %}">チアコを買う</a></li>
                    <li><a href="{% url 'goods:list' %}">グッズ交換</a></li>
                </ul>
            </div>
            <small>アニマルマニア</small>
            <br>
            <br>
            <br>
            <br>
            <br>
        </footer>
        
    </body>


</html>