{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}アニマルマニア{% endblock %}</title>

        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base.js' %}"></script>

        <link rel="shortcut icon" href="#">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="main_body">
            <div id="main_left">
                <img class="main_left_image" src="{% static 'img/animalmania_logo.png' %}" alt="animalmania_logo_kari" 
                oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;">
            </div>

            <nav id="targetElement">
                <ul>
                    <li><a href="{% url 'main:index' %}#">トップ</a></li>

                    <li><a href="{% url 'main:index' %}#about_mainbox">アバウト</a></li>

                    {% if '/ranking' not in request.path %}
                    <li><a href="{% url 'ranking:index' %}">アニマルランキング</a></li>
                    {% endif %}

                    {% if '/animals' not in request.path %}
                    <li><a href="#"><span class="nav_ul_li_a_01">動物たちの様子を見る</span></a></li>
                    {% endif %}

                    <li><a href="{% url 'main:index' %}#structure_mainbox">チアコとスタポのしくみ</a></li>

                    {% if '/charge' not in request.path %}
                    <li><a href="{% url 'money:charge' %}">チアコを買う</a></li>
                    {% endif %}

                    {% if '/goods/goods_list' not in request.path %}
                    <li><a href="{% url 'goods:goods_list' %}">グッズ交換する</a></li>
                    {% endif %}

                    {% if '/donation/donate' not in request.path %}
                    <li><a href="{% url 'donation:donate' %}">寄付する</a></li>
                    {% endif %}
                </ul>
            </nav>

            <div id="main_center">
                <main>
                    {% block content %}{% endblock %}
                </main>
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
            </div>

            <div id="main_right">

                {% if user.is_authenticated and wallet %}
                <div id="cart">
                    <a href="{% url 'goods:cart_view' %}">
                        <img src="{% static 'img/shop_cart_01.png' %}" alt="アニマニアカート" width="52">
                        {% if total_quantity > 0 %}
                        <span id="cart_num">{{ total_quantity }}</span>
                        {% endif %}
                    </a>
                </div>
                {% else %}
                {% endif %}

                {% if user.is_authenticated and wallet %}
                <div id="personal_box_login">
                    <div id="personal_box_01">
                        <a class="personal_box_name" href="{% url 'accounts:mypage' %}"><h2 class="personal_box_h2">{{ user.name|default:user.username }}</h2></a><h3 class="personal_box_h3">様</h3>
                    </div>
                    <div id="personal_box_02">
                        <h4 id="wallet-balance" class="personal_box_h4">{{ wallet.cheer_coin_balance|intcomma }}</h4><h6 class="personal_box_h6">チアコ</h6>
                    </div>
                    <div id="personal_box_03">
                        <h4 id="wallet-stapo" class="personal_box_h4">{{ wallet.stanning_point_balance|intcomma }}</h4><h6 class="personal_box_h6">スタポ</h6>
                    </div>
                </div>
                {% else %}
                <div id="personal_box_logout">
                    <div id="personal_box_04">
                        <a class="personal_box_link" href="{% url 'accounts:signup' %}">
                            <h2 class="personal_box_h8"><span>▶　</span>新規会員登録</h2>
                        </a>
                    </div>
                    <div id="personal_box_04">
                        <a class="personal_box_link" href="{% url 'accounts:login' %}">
                            <h2 class="personal_box_h8"><span>▶　</span>ログイン</h2>
                        </a>
                    </div>
                </div>
                {% endif %}

            </div>

            <div id="hamburger_menu" onclick="toggleMenu(this)">
                <div class="hamburger_line"></div>
                <div class="hamburger_line"></div>
                <div class="hamburger_line"></div>
            </div>
            
            <div id="hamburger_menu_content_outside">
                <ul id="hamburger_menu_content">
                    <li id="hamburger_menu_content_01">
                        <a class="hamburger_menu_content_a" href="{% url 'main:index' %}#">トップ</a>
                        
                        <a class="hamburger_menu_content_a" href="{% url 'main:index' %}#about_mainbox">アバウト</a>

                        {% if '/ranking' not in request.path %}
                        <a class="hamburger_menu_content_a" href="{% url 'ranking:index' %}">アニマルランキング</a>
                        {% endif %}

                        {% if '/animals' not in request.path %}
                        <a class="hamburger_menu_content_a" href="#">動物たちの様子を見る</a>
                        {% endif %}

                        <a class="hamburger_menu_content_a" href="{% url 'main:index' %}#structure_mainbox"><span>チアコとスタポのしくみ</span></a>

                        {% if '/charge' not in request.path %}
                        <a class="hamburger_menu_content_a" href="{% url 'money:charge' %}">チアコを買う</a>
                        {% endif %}

                        {% if '/goods/goods_list' not in request.path %}
                        <a class="hamburger_menu_content_a" href="{% url 'goods:goods_list' %}">グッズ交換する</a>
                        {% endif %}
                        {% if '/donation/donate' not in request.path %}
                        <a class="hamburger_menu_content_a" href="{% url 'donation:donate' %}">寄付する</a>
                        {% endif %}
                    </li>
                    <li id="hamburger_menu_content_02"></li>
                    <li id="hamburger_menu_content_03">
                        {% if user.is_authenticated and wallet %}
                        <a class="hum_name" href="{% url 'accounts:mypage' %}"><h3 class="hamburger_menu_content_h3">{{ user.name|default:user.username }}</a><span> 様</span></h3>
                        <a class="hamburger_menu_content_a" href="{% url 'accounts:mypage' %}">マイページ</a>
                        <a class="hamburger_menu_content_a" href="{% url 'money:purchase_history' %}">チアコ·スタポ購入履歴</a>
                        <a class="hamburger_menu_content_a" href="{% url 'goods:order_history' %}">グッズ交換履歴</a>
                        <a class="hamburger_menu_content_a" href="{% url 'donation:donation_history' %}">寄付履歴</a>
                        <a class="hamburger_menu_content_a" href="#">会員情報変更</a>
                        <a class="hamburger_menu_content_a" href="{% url 'accounts:logout' %}">ログアウト</a>
                        {% else %}
                        <a class="hamburger_menu_content_a" href="{% url 'accounts:login' %}">ログイン</a>
                        <a class="hamburger_menu_content_a" href="{% url 'accounts:signup' %}">新規会員登録</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <a class="pagetop" href="#">
                <div class="pagetop_arrow"></div>
                <div class="pagetop_lang">return<br>Top</div>
            </a>

        </div>
        

        <footer id="siteFooter">
          
            <!-- <div class="goods-scroller">
                {% for i in "123456" %}
                    {% for good in goods_list %}
                    <div class="goods-item">
                        <img src="{{ good.image.url }}" alt="{{ good.name }}">
                    </div>
                    {% endfor %}
                {% endfor %}
            </div> -->

            <div class="goods-scroller">
                <div class="goods-track">
                    {% for i in "12345678" %}  <!-- 複数回ループ -->
                    {% for good in goods_list %}
                    <div class="goods-item">
                        <img src="{{ good.image.url }}" alt="{{ good.name }}">
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div id="footer_forest">
                <img class="" src="{% static 'img/footer_forest.png' %}" alt="footer_forest" width="100%">
            </div>

            <div id="footer_box">
                <div id="footer_nav">
                    <ul>
                        <li><a href="{% url 'main:index' %}#">トップ</a></li>

                        <li><a href="{% url 'main:index' %}#about_mainbox">アバウト</a></li>

                        {% if '/ranking' not in request.path %}
                        <li><a href="{% url 'ranking:index' %}">アニマルランキング</a></li>
                        {% endif %}

                        {% if '/animals' not in request.path %}
                        <li><a href="#">動物たちの様子を見る</a></li>
                        {% endif %}
                    </ul>
                    <ul>
                        <li><a href="{% url 'main:index' %}#structure_mainbox">チアコとスタポのしくみ</a></li>

                        {% if '/charge' not in request.path %}
                        <li><a href="{% url 'money:charge' %}">チアコを買う</a></li>
                        {% endif %}

                        {% if '/goods/goods_list' not in request.path %}
                        <li><a href="{% url 'goods:goods_list' %}">グッズ交換する</a></li>
                        {% endif %}

                        {% if '/donation/donate' not in request.path %}
                        <li><a href="{% url 'donation:donate' %}">寄付する</a></li>
                        {% endif %}
                    </ul>
                </div>
                <br><br>
                <a href="{% url 'main:index' %}">
                    <img id="footer_logo" src="{% static 'img/logo_lang.png' %}" alt="footer_logo">
                </a>
                <br><br>
                <a href="{% url 'dashboard:dashboard_login' %}">
                    <img id="footer_tree_kanri" src="{% static 'img/tree_kanri.png' %}" alt="tree_kanri">
                </a>
                <br><br><br><br>
            </div>
        </footer>

</html>