{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}アニマルマニア{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="#">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">

    </head>

    <body>
        <div id="main_body">
            <div id="main_left">
                <img class="main_left_image" src="{% static 'img/animalmania_logo_kari.png' %}" alt="animalmania_logo_kari" 
                oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;">
                <nav>
                    <ul>
                        <li><a href="{% url 'main:index' %}">トップ</a></li>
                        <li><a href="{% url 'pages:about' %}">アバウト</a></li>
                        <li><a href="{% url 'ranking:index' %}">動物ランキング</a></li>
                        <li><a href="#">LIVE動画</a></li>
                        <li><a href="{% url 'money:charge' %}">チアコを買う</a></li>
                        <li><a href="{% url 'goods:goods_list' %}">グッズ交換</a></li>
                        <li><a href="/animals/1/">動物紹介制作閲覧用</a></li>
                        <li><a href="{% url 'accounts:login' %}">ログイン</a></li>
                        <li><a href="{% url 'accounts:logout' %}">ログアウト</a></li>
                        <li><a href="{% url 'accounts:signup' %}">新規登録</a></li>
                    </ul>
                </nav>
            </div>

            <div id="main_center">
                <main>
                    {% block content %}{% endblock %}
                </main>
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた

                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                                あきたあきたあきたあきたあきたあきたあきたあきたあきた
                あきたあきたあきたあきたあきたあきたあきたあきたあきた
            </div>

            <div id="main_right">

                <div id="personal_box">
                    <div id="personal_box_01">
                        <h2 class="personal_box_h2">倉形 光</h2><h3 class="personal_box_h3">様</h3>
                    </div>
                    <div id="personal_box_02">
                        <h4 class="personal_box_h4">999</h4><h6 class="personal_box_h6">スタポ</h6>
                    </div>
                    <div id="personal_box_03">
                        <h4 class="personal_box_h4">999</h4><h6 class="personal_box_h6">チアコ</h6>
                    </div>
                </div>

                <a class="pagetop" href="#">
                        <div class="pagetop_arrow"></div>
                        <div class="pagetop_lang">return<br>Top</div>
                </a>

                

            </div>


        </div>

        <footer>
            <div id="footer_nav">
                <ul>
                    <li><a href="{% url 'main:index' %}">トップ</a></li>
                    <li><a href="{% url 'pages:about' %}">アバウト</a></li>
                    <li><a href="{% url 'ranking:index' %}">動物ランキング</a></li>
                    <li><a href="#">LIVE動画</a></li>
                    <li><a href="{% url 'money:charge' %}">チアコを買う</a></li>
                    <li><a href="{% url 'goods:goods_list' %}">グッズ交換</a></li>
                </ul>
            </div>
            <small>アニマルマニア</small>
            <br>
            <br>
        </footer>
        
    </body>


</html>