{% extends "common/base.html" %}
{% load static %}

{% block title %}アニマルマニア｜交換完了{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/exchange_complete.css' %}">
{% endblock %}

{% block content %}

<div id="exchange_complete_large_box">
    
    <h1 id="exchange_complete_lang">交換手続き完了</h1>

    <div id="exchange_complete_small_box">
        
        
        <div id="exchange_complete_small_box_border">

            <div id="exchange_complete_small_box_lang">

                <div id="exchange_complete_small_box_lang_01">
                    <p id="exchange_complete_name">{{ order.recipient_name }}<span id="exchange_complete_mrs"> さま</span></p>
                    <h2 id="exchange_complete_text">交換手続きが完了しました！</h2>
                    <p id="exchange_complete_staponum">{{ total_stanning }}<span id="exchange_complete_stapo"> スタポを使用しました。</span></p>
                    <img id="exchange_complete_thanks_img" src="{% static 'img/done_thankyou.png' %}" alt="アシカありがとう画像">
                </div>

                <div id="exchange_complete_small_box_lang_02">
                    <p id="exchange_complete_delivery_text">お届けまで<br>しばらくお待ちください</p>
                    <img id="exchange_complete_delivery_img" src="{% static 'img/delivery_img.png' %}" alt="スズメデリバリー画像">
                    <p id="exchange_complete_delivery">お届け先</p>
                    <hr>
                    <p id="exchange_complete_delivery_address">〒{{ order.postal_code }}<br>{{ order.address }}</p>
                    <p id="exchange_complete_phone">☎ {{ order.phone_number }}</p>
                </div>

            </div>

        </div>

    </div>

    <a id="exchange_complete_goodshistory_link" href="{% url 'goods:order_history' %}">▶交換履歴を見る</a>
    <br><br>

    <a id="exchange_complete_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>

{% endblock %}
