{% extends 'common/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/order_detail.css' %}">
{% endblock %}

{% block title %}注文詳細{% endblock %}

{% block content %}


<div id="order_detail_large_box">
    
    <h1 id="order_detail_lang">注文内容の確認</h1>

    <div id="order_detail_small_box">

        <div id="order_detail_small_box_paper">

            <div id="order_detail_small_box_lang">

                <div id="order_detail_small_box_lang_p">
                    <p>
                      <span class="order_detail_idday_lan">注文ID　</span>
                      <span class="order_detail_idday_num">{{ order.id }}</span>
                      　　
                      <span class="order_detail_idday_lan">注文日　</span>
                      <span class="order_detail_idday_num">{{ order.created_at|date:"Y/m/d H:i" }}</span>
                    </p>

                    <br>

                    <p>
                      <span class="order_detail_situation_lan">発送状況　</span>
                      <span class="order_detail_situation_num">{{ order.get_status_display }}</span>
                    </p>

                    <h3 class="order_detail_title">お届け先情報</h3>
                    <hr id="order_detail_hr_01">

                    <p><span class="order_detail_details_num">{{ order.recipient_name }} <span class="order_detail_unit">様</span></span></p>
                    <p><span class="order_detail_details_num">〒{{ order.postal_code }}</span></p>
                    <p><span class="order_detail_details_num">{{ order.address }}</span></p>
                    <p><span class="order_detail_details_num">☎ {{ order.phone_number }}</span></p>

                    <h3 class="order_detail_title">注文内容</h3>
                    <hr id="order_detail_hr_02">

                    <ul>
                      {% for item in order.items.all %}
                        <li>
                            <div id="order_detail_goods_box">
                                <div id="order_detail_goods_imagebox">
                                    <img id="order_detail_goods_image" src="{{ item.goods.image.url }}" alt="{{ item.goods.name }}">
                                </div>
                                <p id="order_detail_itemname_01">{{ item.goods.name }}</p>
                                <p id="order_detail_itemname_02">　× {{ item.quantity }}</p>
                                <p id="order_detail_itemname_03">　　　{% widthratio item.goods.required_stanning_points 1 item.quantity %}<span class="order_detail_unit">スタポ</span></span></p>
                            </div>

                        </li>
                      {% endfor %}
                    </ul>

                    <hr id="order_detail_hr_03">

                    <p id="order_detail_total_unit">
                      <span id="order_detail_total_lan">合計スタポ　　</span>
                      <span id="order_detail_total_num">{{ order.total_stanning_points }}</span><span class="order_detail_unit"> スタポ</span>
                    </p>

                    <br>

                    <a id="order_detail_return_link" href="{% url 'goods:order_history' %}">◀ 交換履歴一覧へ戻る</a>
                </div>

            </div>

        </div>
    </div>

    <a id="order_detail_returntop_button" href="{% url 'main:index' %}#">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>





{% endblock %}
