{% extends 'common/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/order_history.css' %}">
{% endblock %}

{% block title %}グッズ交換履歴{% endblock %}

{% block content %}

<div id="order_history_large_box">

    <h1 id="order_history_lang">グッズ交換履歴</h1>

    <br>

    <div id="order_history_small_box">

      <div id="order_history_small_box_lang">

        {# ---- メッセージ表示部分ここに固定 ---- #}
        {% if messages %}
        <div class="page-messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if orders %}
        <table id="order_history_table">

          <tr>
            <th class="order_history_table_text">注文ID</th>
            <th class="order_history_table_text">注文日</th>
            <th class="order_history_table_text">注文内容</th>
            <th class="order_history_table_text">個数</th>
            <th class="order_history_table_text">合計スタポ</th>
            <th class="order_history_table_text">発送状況</th>
            <th class="order_history_table_text">詳細</th>
            <th class="order_history_table_text">キャンセル</th>
          </tr>

          {% for order in orders %}
          <tr>
            
            <td class="order_history_table_num">
              <a id="order_history_table_num_a_02" href="{% url 'goods:order_detail' order.id %}">{{ order.id }}</a>
            </td>

            <td id="order_history_table_text_day">{{ order.created_at|date:"Y/m/d H:i" }}</td>

            <td id="order_history_table_num_02">
              {% for item in order.items.all %}
                {{ item.goods.name }}<br>
              {% endfor %}
            </td>

            <td class="order_history_table_num">
              {% for item in order.items.all %}
                × {{ item.quantity }}<br>
              {% endfor %}
            </td>

            <td class="order_history_table_num">{{ order.total_stanning_points }}<span class="order_history_table_unit"> スタポ</span></td>

            <td class="order_history_table_num">
              {% if order.status == 'pending' %}
                <span id="order_history_table_notyet">未発送</span>
              {% elif order.status == 'shipped' %}
                <span id="order_history_table_done">発送済み</span>
              {% else %}
                <span id="order_history_table_cancell">キャンセル済</span>
              {% endif %}
            </td>

            <td class="order_history_table_num">
              <a href="{% url 'goods:order_detail' order.id %}">▶詳細を見る</a>
            </td>

            <td id="order_history_table_num_03">
              {% if order.status == 'pending' %}
                <form action="{% url 'goods:cancel_order' order.id %}" method="post">
                  {% csrf_token %}
                  <button id="order_history_cancell_button" type="button" 
                  onclick="confirmCancel(this.form);">キャンセルする</button>

                  <script>
                    function confirmCancel(form) {
                        if (confirm("注文ID {{ order.id }} の注文をキャンセルしてもよろしいですか？")) {
                          form.submit();
                        }
                      }
                  </script>

                </form>
              {% else %}
              {% endif %}
            </td>

          </tr>
          {% endfor %}

        </table>

        {% else %}
        <p>注文履歴はありません。</p>
        {% endif %}


      </div>


    </div>

    <a id="order_history_mypage_link" href="{% url 'accounts:mypage' %}">▶ マイページへ</a>

    <br><br>

    <a id="order_history_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>




<!-- <script>
  function confirmCancel(form) {
    if (confirm("{{ order.id }}この注文をキャンセルします。よろしいですか？")) {
      form.submit();
    }
  }
</script> -->

<style>

.alert {
  margin: 1.5vw 0 4vw 0;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 700;
}
.alert-success { 
  color: #c0392b; 
}
.alert-warning { 
  color: rgb(237, 73, 144); 
}
.alert-error { 
  color: rgb(237, 73, 144); 
}
</style>


{% endblock %}
