{% extends 'common/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/order_detail.css' %}">
{% endblock %}

{% block title %}注文詳細{% endblock %}

{% block content %}


<div id="order_detail_large_box">
    
    <h1 id="order_detail_lang">注文内容の確認</h1>

    <div id="order_detail_small_box">

        <div id="order_detail_small_box_paper">

            <div id="order_detail_small_box_lang">






                <div id="order_detail_small_box_lang_p">
                    <p>
                      <span class="order_detail_idday_lan">注文ID　</span>
                      <span class="order_detail_idday_num">{{ order.id }}</span>
                      　　
                      <span class="order_detail_idday_lan">注文日　</span>
                      <span class="order_detail_idday_num">{{ order.created_at|date:"Y/m/d H:i" }}</span>
                    </p>

                  <p>
                    <span class="order_detail_situation_lan">発送状況　</span>
                    <span class="order_detail_situation_num">{{ order.get_status_display }}</span>
                  </p>

                  <h3>配送先情報</h3>

                  <p>
                    <span class="order_detail_details_lan">名　　前　　</span>
                    <span class="order_detail_details_num">{{ order.recipient_name }}</span>
                  </p>

                  <p>
                    <span class="order_detail_details_lan">郵便番号　　</span>
                    <span class="order_detail_details_num">{{ order.postal_code }}</span>
                  </p>

                  <p>
                    <span class="order_detail_details_lan">住　　所　　</span>
                    <span class="order_detail_details_num">{{ order.address }}</span>
                  </p>

                  <p>
                    <span class="order_detail_details_lan">電話番号　　</span>
                    <span class="order_detail_details_num">{{ order.phone_number }}</span>
                  </p>

                  <h3>注文内容</h3>

                  <ul>
                    {% for item in order.items.all %}
                      <li>{{ item.goods.name }} × {{ item.quantity }}</li>
                    {% endfor %}
                  </ul>

                  <p>合計必要スタポ　　{{ order.total_stanning_points }}</p>

                  <a href="{% url 'goods:order_history' %}">◀ 戻る</a>
                </div>






            </div>

        </div>
    </div>

    <a id="order_detail_mypage_button" href="{% url 'accounts:mypage' %}">▶ マイページへ</a>

    <br><br>

    <a id="order_detail_returntop_button" href="{% url 'main:index' %}#">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>





{% endblock %}
