{% extends "base.html" %}
{% block content %}

<h1>返礼品一覧</h1>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for gift in gifts %}
        <div style="width: 250px; text-align: center;">

            <a href="{% url 'gift_detail' gift.pk %}">
                {% if gift.main_image %}
                <img src="{{ gift.main_image.url }}" 
                     style="width: 100%; height: 180px; object-fit: cover; border-radius: 10px;">
                {% else %}
                <div style="width:100%; height:180px; background:#eee; border-radius:10px;"></div>
                {% endif %}
            </a>

            <h3 style="margin-top: 10px;">{{ gift.title }}</h3>
            <p>{{ gift.zoo.zoo_name }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
