{% extends "common/base.html" %}
{% load static %}

{% block title %}
    アニマルランキング | アニマルマニア
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/ranking.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}

{% if is_page_1 %}
<div id="rankig_box_big_all">

    <div id="rankig_box_large_1to3">
        <div id="rank_box_middle_1to3_01">
            {# ======= 第1位 ======= #}
            {% with a=animals.0 %}
            {% if a %}

            <div id="rank_img_box_1">
                <a href="/animals/{{ a.animal_id }}/">
                    <img id="rank_img_1" src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
                </a>
            </div>

            <div id="rank_num_box_1">
                <h2 id="rank_1_num">1<span id="rank_1_num_rank">位</span></h2>
            </div>

            <p id="rank_1_animalname">{{ a.name }}
                <span id="rank_animal-namegenderlang_1">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
            </p>
            <p id="rank_1_animaltype">{{ a.japanese }}</p>
            <p id="rank_1_pointlang">推しP{{ a.total_point }}</p>

            {% endif %}
            {% endwith %}
        </div>


        <div id="rank_box_middle_1to3_02">

            <div id="rank_box_middle_2to3">
                {# ======= 第2位 ======= #}
                {% with a=animals.1 %}
                {% if a %}
                <div id="rank_box_small_2">

                    <div id="rank_img_large_box_2">
                        <div id="rank_img_box_2">
                            <a href="/animals/{{ a.animal_id }}/">
                                <img id="rank_img_2" src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
                            </a>
                        </div>
                    </div>

                    <div id="rank_num_box_2">
                        <h2 id="rank_2_num">2<span id="rank_2_num_rank">位</span></h2>
                    </div>
                    
                    <p id="rank_2_animalname">{{ a.name }}
                        <span id="rank_animal-namegenderlang_2">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
                    </p>
                    <p id="rank_2_animaltype">{{ a.japanese }}</p>
                    <p id="rank_2_pointlang">推しP{{ a.total_point }}</p>

                </div>
                {% endif %}
                {% endwith %}

                {# ======= 第3位 ======= #}
                {% with a=animals.2 %}
                {% if a %}
                <div id="rank_box_small_3">

                    <div id="rank_img_large_box_3">
                        <div id="rank_img_box_3">
                            <a href="/animals/{{ a.animal_id }}/">
                                <img id="rank_img_3" src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
                            </a>
                        </div>
                    </div>

                    <div id="rank_num_box_3">
                        <h2 id="rank_3_num">3<span id="rank_3_num_rank">位</span></h2>
                    </div>

                    <p id="rank_3_animalname">{{ a.name }}
                        <span id="rank_animal-namegenderlang_3">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
                    </p>
                    <p id="rank_3_animaltype">{{ a.japanese }}</p>
                    <p id="rank_3_pointlang">推しP{{ a.total_point }}</p>

                </div>
                {% endif %}
                {% endwith %}
            </div>

        </div>

    </div>


    {# ======= 第4～6位 ======= #}
    <div id="rank_box_middle_4to6">
        {% for a in animals|slice:"3:6" %}
        <div id="rank_box_small_4to6">

            <a href="/animals/{{ a.animal_id }}/">
                <img id="rank_img_4to6" src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
            </a>

            <div id="rank_num_box_4to6">
                <h2 id="rank_4to6_num">{{ forloop.counter|add:3 }}<span id="rank_4to6_num_rank">位</span></h2>
            </div>

            <p id="rank_4to6_animalname">{{ a.name }}
                <span id="rank_animal-namegenderlang_4to6">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
            </p>
            <p id="rank_4to6_animaltype">{{ a.japanese }}</p>
            <p id="rank_4to6_pointlang">推しP{{ a.total_point }}</p>

        </div>
        {% endfor %}
    </div>

    {# ======= 第7～10位 ======= #}
    <div id="rank_box_middle_7to10">
        {% for a in animals|slice:"6:10" %}
        <div id="rank_box_small_7to10">

            <a href="/animals/{{ a.animal_id }}/">
                <img id="rank_img_7to10" src="{{ a.pic1.url }}" alt="{{ a.japanese }}" width="100px">
            </a>

            <div id="rank_num_box_7to10">
                <h2 id="rank_7to10_num">{{ forloop.counter|add:6 }}<span id="rank_7to10_num_rank">位</span></h2>
            </div>

            <p id="rank_7to10_animalname">{{ a.name }}
                <span id="rank_animal-namegenderlang_7to10">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
            </p>
            <p id="rank_7to10_animaltype">{{ a.japanese }}</p>
            <p id="rank_7to10_pointlang">推しP{{ a.total_point }}</p>

        </div>
        {% endfor %}
    </div>

    {# ======= 第11～15位 ======= #}
    <div id="rank_box_middle_11to15">
        {% for a in animals|slice:"10:15" %}
        <div id="rank_box_small_11to15">

            <a href="/animals/{{ a.animal_id }}/">
                <img id="rank_img_11to15" src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
            </a>

            <div id="rank_num_box_11to15">
                <h2 id="rank_11to15_num">{{ forloop.counter|add:10 }}<span id="rank_11to15_num_rank">位</span></h2>
            </div>

            <p id="rank_11to15_animalname">{{ a.name }}
                <span id="rank_animal-namegenderlang_11to15">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
            </p>
            <p id="rank_11to15_animaltype">{{ a.japanese }}</p>
            <p id="rank_11to15_pointlang">推しP{{ a.total_point }}</p>

        </div>
        {% endfor %}
    </div>


    {# ======= 第16～20位 ======= #}
    <div id="rank_box_middle_16to20">
        {% for a in animals|slice:"15:20" %}
        <div id="rank_box_small_16to20">

            <a href="/animals/{{ a.animal_id }}/">
                <img id="rank_img_16to20" src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
            </a>

            <div id="rank_num_box_16to20">
                <h2 id="rank_16to20_num">{{ forloop.counter|add:15 }}<span id="rank_16to20_num_rank">位</span></h2>
            </div>

            <p id="rank_16to20_animalname">{{ a.name }}
                <span id="rank_animal-namegenderlang_16to20">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
            </p>
            <p id="rank_16to20_animaltype">{{ a.japanese }}</p>
            <p id="rank_16to20_pointlang">推しP{{ a.total_point }}</p>

        </div>
        {% endfor %}
    </div>
</div>
  
{% else %}

{# ======= 2ページ目以降 ======= #}
<div id="rank_box_middle_21to">
    {% for a in page_obj %}
    <div id="rank_box_small_21to">

        <a href="/animals/{{ a.animal_id }}/">
            <img id="rank_img_21to" src="{{ a.pic1.url }}" alt="{{ a.japanese }}" width="100px">
        </a>

        <div id="rank_num_box_21to">
            <h2 id="rank_21to_num">{{ forloop.counter|add:start_rank }}位</h2>
        </div>

        <p id="rank_21to_animalname">{{ a.name }}
            <span id="rank_animal-namegenderlang_21to">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
        </p>
        <p id="rank_21to_animaltype">{{ a.japanese }}</p>
        <p id="rank_21to_pointlang">推しP{{ a.total_point }}</p>

    </div>

    {% empty %}
    <p>該当するどうぶつがいません。</p>
    {% endfor %}
</div>


{% endif %}




{# ====== ページネーション ====== #}
{% if total_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if actual_page_num > 1 %}
            <a href="?page={{ actual_page_num|add:'-1' }}">&laquo;</a>
        {% else %}
            <span class="disabled">&laquo;</span>
        {% endif %}

        {% for page_num in page_range %}
            {% if page_num == '...' %}
                <span class="dots">...</span>
            {% elif page_num == actual_page_num %}
                <span class="current">{{ page_num }}</span>
            {% else %}
                <a href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if actual_page_num < total_pages %}
            <a href="?page={{ actual_page_num|add:'1' }}">&raquo;</a>
        {% else %}
            <span class="disabled">&raquo;</span>
        {% endif %}
    </span>
</div>

<br>
<div id="ranking_returntop_button"><a href="{% url 'main:index' %}#">▶トップページへもどる</a></div>
<br><br><br><br>
{% endif %}


{# ====== 戻る時に最新データへ更新するスクリプト ====== #}
<script>
window.addEventListener("pageshow", function(event) {
    if (event.persisted) {
        window.location.reload();
    }
});
</script>

{% endblock %}