<aside class="animal-ranking-sidebar">
  <h3 class="ranking-title">HOT10</h3>
  <ol class="animal-ranking-list">
    {% for a in ranking %}
      <li>
        <span class="rank-number">{{ forloop.counter }}</span>

        <div class="rank-info">
          <a href="{% url 'animals:detail' a.pk %}" class="rank-link">
            <span class="rank-japanese">{{ a.japanese }}</span><br>
            <span class="rank-name">{{ a.name }}</span>
          </a>
        </div>

        <div class="rank-img">
            <img src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
          </a>
        </div>
      </li>
    {% empty %}
      <li>ランキングデータがありません。</li>
    {% endfor %}
  </ol>
</aside>
