

<aside id="index_animal_ranking_sidebar">
  <h3 id="index_ranking_title">アニマルトップ１０</h3>
  <ol id="index_animal_ranking_list">
    {% for a in ranking %}
    <p class="index_rank_number">{{ forloop.counter }}</p>
    <hr id="index_ranking_num_underline">
      <li>
        <!-- <p class="index_rank_number">{{ forloop.counter }}</p> -->

        <div class="index_rank_info">
          <a class="index_rank_link_name" href="/animals/{{ a.animal_id }}/">
            <span id="index_rank_link_name_name">{{ a.name }}</span>
            <span id="index_animal-namegenderlang_ranking">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
          </a>
          <p class="index_rank_japanese">{{ a.japanese }}</p>
        </div>

        <div class="index_rank_img_box">
          <a class="index_rank_link_img" href="/animals/{{ a.animal_id }}/">
            <img src="{{ a.pic1.url }}" alt="{{ a.japanese }}">
          </a>
        </div>
      </li>
    {% empty %}
      <li>ランキングデータがありません。</li>
    {% endfor %}
  </ol>
</aside>
