{% load static %}

<!-- {% block title %}アニマルマニア|アバウト{% endblock %} -->

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

<script src="{% static 'js/about.js' %}"></script>

<div id="about_mainbox">
  <img id="animal_entrance" src="{% static 'img/about_animal.png' %}" alt="動物集合イラスト">

  <div class="about_sentence_box">
    <div class="about_sentence">ここは「みんなの推し」が集まる小さな動物広場。</div>
    <div class="about_sentence">3つの動物園の沢山のアニマルたちに出会えます。</div>
    <br>
    <div class="about_sentence">動物たちを応援してくださるあなたの"推し"の力が</div>
    <div class="about_sentence">動物たちの毎日と動物園の支援につながります。</div>
    <br>
    <div class="about_sentence">みんなの"推し"がたくさん集まれば</div>
    <div class="about_sentence">動物園の未来の大きな力に。</div>
    <br>
    <div class="about_sentence">さあ、あなたの"推し"を見つけてみよう！</div>
  </div>

  <h4 id="about_sentence_en">
    support your favorite<br>
    support our zoo<br>
  </h4>
  <img id="about_pic" src="{% static 'img/female_pc.png' %}" alt="PCと女性の絵">
  {% if user.is_authenticated and wallet %}
  {% else %}
  <div id="about_registration_button"><a href="{% url 'accounts:signup' %}">▶新規会員登録する</a></div>
  <div id="about_login_button"><a href="{% url 'accounts:login' %}">▶ログインする</a></div>
  {% endif %}
  <br>
</div>