{% load static %}

<!-- {% block title %}アニマルマニア|アバウト{% endblock %} -->

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}


<div id="about_mainbox">
  <img id="animal_entrance" src="{% static 'img/about_animal.png' %}" alt="動物集合イラスト">
  <h3 id="about_sentence">
    ここは「みんなの推し」が集まる小さな動物広場。<br>
    <br>
    3つの動物園の沢山のアニマルたちに出会えます。<br>
    <br>
    動物たちを応援してくださるあなたの"推し"の力が<br>
    動物たちの毎日と動物園の支援につながります。<br>
    <br>
    みんなの"推し"がたくさん集まれば<br>
    動物園の未来の大きな力に。<br>
    <br>
    さあ、あなたの"推し"を見つけてみよう！<br>
  </h3>
  <h4 id="about_sentence_en">
    support your favorite<br>
    support our zoo<br>
  </h4>
  <img id="about_pic" src="{% static 'img/female_pc.png' %}" alt="PCと女性の絵" width="27%">
  <div id="about_registration_button"><a href="{% url 'accounts:signup' %}">▶新規会員登録する</a></div>
  <div id="about_login_button"><a href="{% url 'accounts:login' %}">▶ログインする</a></div>
  <br>
</div>