{% extends "common/base.html" %}
{% load static %}

{% block title %}動物たちの様子を見る | アニマルマニア{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/look.css' %}">
{% endblock %}

{% block content %}



<div id="look_large_box">
    
    <h1 id="look_lang">動物たちの様子を見る</h1>

    <div id="look_small_box">

        <div id="look_small_box_paper">

            <div id="look_small_box_lang">



                <div class="live-box">

                <h3>須坂市動物園</h3>
                <img width="300px"
                    class="gif-toggle"
                    src="{% static 'img/gif2.png' %}"
                    data-gif="{% static 'img/gif2.gif' %}"
                    data-still="{% static 'img/gif2.png' %}"
                    alt="フンボルトペンギン"
                >
                <img class="tv_box" src="{% static 'img/TV_mask.png' %}" alt="テレビ枠" width="320px">
                <div class="live-name">フンボルトペンギン</div>
                </div>

                <div class="live-box">
                <h3>須坂市動物園</h3>
                <img width="300px"
                    class="gif-toggle"
                    src="{% static 'img/gif1.png' %}"
                    data-gif="{% static 'img/gif1.gif' %}"
                    data-still="{% static 'img/gif1.png' %}"
                    alt="ラマ"
                >
                <img class="tv_box" src="{% static 'img/TV_mask.png' %}" alt="テレビ枠" width="320px">
                <div class="live-name">ラマ</div>
                </div>

                <div class="live-box">
                <h3>須坂市動物園</h3>
                <img width="300px"
                    class="gif-toggle"
                    src="{% static 'img/gif3.png' %}"
                    data-gif="{% static 'img/gif3.gif' %}"
                    data-still="{% static 'img/gif3.png' %}"
                    alt="カピバラ"
                >
                <img class="tv_box" src="{% static 'img/TV_mask.png' %}" alt="テレビ枠" width="320px">
                <div class="live-name">カピバラ</div>
                </div>

                <div class="live-box">
                <h3>須坂市動物園</h3>
                <img width="300px"
                    class="gif-toggle"
                    src="{% static 'img/gif4.png' %}"
                    data-gif="{% static 'img/gif4.gif' %}"
                    data-still="{% static 'img/gif4.png' %}"
                    alt="ホオジロカンムリヅル"
                >
                <img class="tv_box" src="{% static 'img/TV_mask.png' %}" alt="テレビ枠" width="320px">
                <div class="live-name">ホオジロカンムリヅル</div>
                </div>

                <div class="live-box">
                    <h3>須坂市動物園</h3>
                    <iframe width="184px" height="309px" src="https://www.youtube.com/embed/M3w8AwQ1JJY" title="【JPzoo】[カピバラ]／いい湯だな～気持ちいい～／須坂市動物園 #動物 #カピバラ #かわいい #入浴" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div>
                        <a class="yt-link" href="https://www.youtube.com/@YouTube" target="_blank" rel="noopener">
                            → YouTubeチャンネルを見る
                        </a>
                    </div>
                    <img class="phone_box" src="{% static 'img/smartphone_mask.png' %}" alt="スマホ枠" width="220px">
                </div>

                
                <div class="live-box">
                <h3>城山動物園</h3>
                    <iframe width="184px" height="309px" src="https://www.youtube.com/embed/hIBcCIVcKdo" title="ケープハイラックスのおやきちゃんのあくび。［城山動物園］ #おやき #ケープハイラックス #城山動物園" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div>
                        <a class="yt-link" href="https://www.youtube.com/shorts/g-wnRzlv0Og" target="_blank" rel="noopener">
                            → YouTubeで見る
                        </a>
                    </div>
                    <img class="phone_box" src="{% static 'img/smartphone_mask.png' %}" alt="スマホ枠" width="220px">
                </div>

                <div class="live-box">
                <h3>城山動物園</h3>
                    <iframe width="184px" height="309px" src="https://www.youtube.com/embed/GpFJr3RNw2c" title="無料で楽しめる城山動物園を紹介" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div>
                        <a class="yt-link" href="https://www.youtube.com/@YouTube" target="_blank" rel="noopener">
                            → YouTubeチャンネルを見る
                        </a>
                    </div>
                    <img class="phone_box" src="{% static 'img/smartphone_mask.png' %}" alt="スマホ枠" width="220px">
                </div>
                

                
                <div class="live-box">
                <h3>茶臼山動物園</h3>
                    <iframe width="184px" height="309px" src="https://www.youtube.com/embed/aXAsMcmtJTc" title="Seals live | Phase 3 @ WEC Lauwersoog, Netherlands (Stichting Zeehondencentrum Pieterburen)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div>
                        <a class="yt-link" href="https://www.youtube.com/@YouTube" target="_blank" rel="noopener">
                            → YouTubeチャンネルを見る
                        </a>
                    </div>
                    <img class="phone_box" src="{% static 'img/smartphone_mask.png' %}" alt="スマホ枠" width="220px">
                </div>

                <div class="live-box">
                <h3>茶臼山動物園</h3>
                    <iframe width="184px" height="309px" src="https://www.youtube.com/embed/AA8wqLXJhgU" title="ライオン　キュウゾウくんとつむぎちゃんはなかよし　【茶臼山動物園】Lion Chausuyama Zoo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div>
                        <a class="yt-link" href="https://www.youtube.com/@YouTube" target="_blank" rel="noopener">
                            → YouTubeチャンネルを見る
                        </a>
                    </div>
                    <img class="phone_box" src="{% static 'img/smartphone_mask.png' %}" alt="スマホ枠" width="220px">
                </div>




            </div>

        </div>
    </div>

    <a id="look_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>

    <br><br><br><br><br>

</div>






<script>
    document.querySelectorAll(".gif-toggle").forEach(img => {
        img.addEventListener("click", () => {
            document.querySelectorAll(".gif-toggle").forEach(other => {
                if (other !== img) {
                    other.src = other.dataset.still;
                    other.dataset.playing = "false";
                }
            });

            const isPlaying = img.dataset.playing === "true";

            if (isPlaying) {
                img.src = img.dataset.still;
                img.dataset.playing = "false";
            } else {
                img.src = img.dataset.gif + "?t=" + Date.now();
                img.dataset.playing = "true";
            }
        });
    });
</script>

{% endblock %}
