{% load static %}

<!-- {% block title %}アニマルマニア|チアコとスタポの仕組み{% endblock %} -->

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/structure.css' %}">
{% endblock %}


<div id="structure_mainbox">
  <div id="structure_sentence_01">
    <h1 id="structure_sentence_01_headline">アニマルマニアのしくみ</h1>
    <h3 id="structure_sentence_01_main">
      あなたの大好きな推しの動物を推して動物たちを応援しよう！<br>
      <img id="structure_sentence_01_pic_01" src="{% static 'img/oshi_button.png' %}" alt="推しボタン画像"><br>
      <br>
      各動物の推しボタンを1クリックすると、<br>
      推した動物の推しポイントの数が1ポイント増えます。<br>
      <img id="structure_sentence_01_pic_02" src="{% static 'img/structure_num.png' %}" alt="ポイント上昇"><br>
      各動物の推されたポイントが貯まっていくと<br>
      その動物がいる動物園へ支援金として渡り、<br>
      その動物園にいる動物たちの支援へと繋がります。<br>
      <br>
      支援は、動物たちのごはんや設備などさまざまな物になります。<br>
    </h3>
    <br>
    <img id="structure_sentence_01_pic_03" src="{% static 'img/animalkeeper.png' %}" alt="動物と飼育員">
  </div>

  <div id="structure_sentence_02">
    <img id="structure_sentence_02_headline" src="{% static 'img/structure_chiaco_lang.png' %}" alt="チアコ文字タイトル" width="68%">
    <h3 id="structure_sentence_02_main">
      チアコインの略称で、<br>
      英語のcheer（応援・声援や励ましの気持ち）から名付けられました。<br><br>
    </h3>
    <img id="structure_sentence_02_pic" src="{% static 'img/structure_chiaco.png' %}" alt="チアコイン説明図">
    <br>
    <a id="structure_chiaco_link" href="{% url 'money:charge' %}">▶チアコインを買ってみる</a>
    <br><br><br><br><br>
  </div>

  <div id="structure_sentence_03">
    <img id="structure_sentence_03_headline" src="{% static 'img/structure_stapo_lang.png' %}" alt="スタポ文字タイトル" width="68%">
    <h3 id="structure_sentence_03_main">
      スタンニングポイントの略称で、英語のstanningという単語が<br>
      スラングでは「推し活」や「熱狂的なファン活動」<br>
      という意味であることから<br>
      スタンニングポイントと名付けられました。<br><br>
    </h3>
    <img id="structure_sentence_03_pic_01" src="{% static 'img/structure_stapo.png' %}" alt="スタポ説明図">
    <br>
    <img id="structure_sentence_03_pic_01" src="{% static 'img/animals_nobackground.png' %}" alt="動物集合画像" width="65%">
    <br>
    <a id="structure_returntop_link" href="{% url 'main:index' %}">▶トップページへもどる</a>
    <br><br>
  </div>
</div>