{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}管理画面{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">


  {% block extra_css %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="layout">
<!-- 左メニュー -->
<aside class="sidebar">
<div>
<h2>{% block sidebar_title %}管理メニュー{% endblock %}</h2>
<ul class="nav">
  {% block sidebar %}
  <li class="menu-section"><span class="menu-icon">▶</span> ユーザー管理</li>
  <ul class="menu-items">
    <li><a href="#">会員一覧</a></li>
  </ul>

  <li class="menu-section"><span class="menu-icon">▶</span> サブスク管理</li>
  <ul class="menu-items">
    <li><a href="#">加入状況一覧</a></li>
    <li><a href="#">特典管理</a></li>
  </ul>

  <li class="menu-section"><span class="menu-icon">▶</span> グッズ管理</li>
  <ul class="menu-items">
    <li><a href="#">グッズ一覧</a></li>
    <li><a href="{% url 'goods:goods_admin_add' %}">新しいグッズを登録</a></li>
  </ul>

  <li class="menu-section"><span class="menu-icon">▶</span> 注文管理</li>
  <ul class="menu-items">
    <li><a href="#">注文一覧</a></li>
  </ul>

  <li class="menu-section"><span class="menu-icon">▶</span> 動物管理</li>
  <ul class="menu-items">
    <li><a href="#">動物一覧</a></li>
    <li><a href="#">新しい動物を登録</a></li>
  </ul>

    <li class="menu-section"><span class="menu-icon">▶</span> 管理者管理</li>
  <ul class="menu-items">
    <li><a href="#">管理者一覧</a></li>
    <li><a href="#">新しい管理者を登録</a></li>
    <li><a href="#">新しい飼育員を登録</a></li>
  </ul>

  {% endblock %}
</ul>
      </div>

        <div class="sidebar-footer">
        {% block sidebar_footer %}
        <a href="{% url 'main:index' %}" class="btn">トップページへ戻る</a>
        {% endblock %}
</div>
    </aside>

    <!-- 右側メイン領域 -->
    <main class="main">
      <header class="header">
        <h1>{% block content_title %}ダッシュボード{% endblock %}</h1>
        {% block content_meta %}{% endblock %}
      </header>

      <section class="container">
        {% block content %}{% endblock %}
      </section>
    </main>
  </div>

  {% block extra_js %}{% endblock %}
</body>
<script src="{% static 'js/dashboard.js' %}"></script>

</html>
