{% extends "dashboard/dashboard_base.html" %}
{% block title %}会員編集{% endblock %}
{% block content_title %}会員編集{% endblock %}

{% block content %}
<div class="staff-edit">
  <div class="container">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="form-grid">

        <label>
          ID
          <input type="text" name="username" value="{{ form.username.value|default_if_none:'' }}">
        </label>
        {% if form.username.errors %}
          <div class="message error">
            {{ form.username.errors.0 }}
          </div>
        {% endif %}

        <label>
          名前
          <input type="text" name="name" value="{{ form.name.value|default_if_none:'' }}">
        </label>
        {% if form.name.errors %}
          <div class="message error">
            {{ form.name.errors.0 }}
          </div>
        {% endif %}

        <label>
          メール
          <input type="email" name="email" value="{{ form.email.value|default_if_none:'' }}">
        </label>
        {% if form.email.errors %}
          <div class="message error">
            {{ form.email.errors.0 }}
          </div>
        {% endif %}

        <label>
          生年月日
          <input type="date" name="birth" value="{{ form.birth.value|default_if_none:'' }}">
        </label>

        <label>
          郵便番号
          <input type="text" name="postal_code" value="{{ form.postal_code.value|default_if_none:'' }}">
        </label>

        <label>
          住所
          <input type="text" name="address" value="{{ form.address.value|default_if_none:'' }}">
        </label>

        <label>
          電話番号
          <input type="text" name="phone" value="{{ form.phone.value|default_if_none:'' }}">
        </label>

      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-edit">保存</button>
        <a href="{% url 'dashboard:member_list' %}" class="btn">戻る</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
