{% extends "common/base.html" %}
{% load humanize %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<script src="{% static 'js/index.js' %}"></script>

{# 画像とボタン要素と文字要素の外枠&ランキング #}
<div id="index_mainbox_large">

  {# 画像とボタン要素&文字要素の外枠 #}
  <div id="index_mainbox">

    {# 画像とボタン要素&文字要素 #}
    {% for a in animals %}
    <div id="index_animal_box" data-id="{{ a.animal_id }}">

      {# 画像とボタン要素 #}
      <div id="index_amimal_photobutton_box">

        {# 画像要素 #}
        <div id="index_amimal_photo_box" class="zoo-{{ a.zoo_id }}">
          {% if a.pic1 %}<img src="{{ a.pic1.url }}" alt="{{ a.japanese }}">{% endif %}
          {% if not a.pic1 and not a.pic2 %}<img src="{% static 'img/noimage-4x3.png' %}" alt="画像なし" class="slide active">{% endif %}
        </div>

        {# ボタン類要素 #}
        <div id="index_button_box">
          <div id="index_oshii-badge">
            <p id="index_oshii-badge_lang">❤</p>
            <p id="index_point">{{ a.total_point }}</p>
          </div>
          {% if request.user.is_authenticated %}
          <button id="index_push-btn" data-id="{{ a.animal_id }}">
            <img src="{% static 'img/oshi_button.png' %}" alt="押しボタン" width="98px">
          </button>
          {% endif %}

          <div id="index_intro-btn_box">
            <a id="index_intro-btn" href="/animals/{{ a.animal_id }}/"><img src="{% static 'img/animal_detail_button.png' %}" alt="詳細ボタン" width="145px"></a>
          </div>

          {% if a.animal_id == 1 %}<img id="index_oshi-label" src="{% static 'img/tantou_button.png' %}" alt="担当ボタン" width="120px">
          {% else %}<img id="index_oshi-label_hidden" src="{% static 'img/tantou_button.png' %}" alt="担当ボタン" width="120px">
          {% endif %}
          
          {% if a.pic2 %}<div class="dots"></div>{% endif %}
        </div>

      </div>



      {# 文字要素 #}
      <div id="index_amnimal_datalang">
        <p id="index_animal_nameagegenlang">
          <!-- <span id="index_animal_namelang">{{ a.name|truncatechars:6 }}</span> -->
          <a id="index_animal_namelang_a" href="/animals/{{ a.animal_id }}/"><span id="index_animal_namelang">{{ a.name|truncatechars:6 }}</span></a>
          <span id="index_animal-namegenderlang">{% if a.sex == "M" %}くん{% elif a.sex == "F" %}ちゃん{% else %}さん{% endif %}</span>
        </p>
        <p id="index_animal_typelang">{{ a.japanese|truncatechars:10 }}
          <span id="index_animal-agelang">{% if a.age is not None %}{{ a.age }}歳{% else %}{% endif %}</span>
          <span id="index_animal-genderlang">{% if a.sex == "M" %} ♂{% elif a.sex == "F" %} ♀{% else %}{% endif %}</span>
        </p>
      </div>

    </div>
    {% endfor %}

  </div>



  {# ランキング要素 #}
  <div id="index_ranking_box">
    {% include "ranking/top.html" %}
  </div>

</div>


{% include "pages/about.html" %}
{% include "pages/structure.html" %}



{% endblock %}